@charset "UTF-8";
/*Пример обьявления переменной*/
/*шрифты*/
/*Конец шрафтов*/
/*начало прилоадер*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #166274;
  z-index: 100000000;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  opacity: 1;
  visibility: visible; }
  .preloader .children-preloader {
    position: absolute;
    width: 100px;
    height: 100px;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #3ec4e4;
    border-left: 10px solid #3ec4e4;
    border-right: 10px solid #3ec4e4;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: 1s spin infinite linear;
            animation: 1s spin infinite linear;
    -webkit-box-shadow: 0px 0px 31px 0px #3ec4e4;
            box-shadow: 0px 0px 31px 0px #3ec4e4; }
  .preloader.done {
    opacity: 0;
    visibility: hidden; }
  .preloader span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }

/*конец прилоадер*/
.all-btn {
  font-size: 15.53px;
  color: #fff;
  font-family: HelveticaNeueCyr15;
  text-decoration: none;
  outline: none;
  border: 1px solid #fff;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  padding: 16px 22px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .all-btn:hover {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .all-btn span {
    padding-left: 9px; }

/*Кнопка сделать заказ*/
.wrapp_button_zakaz {
  position: relative;
  top: -2px; }
  .wrapp_button_zakaz ul {
    padding: 0px !important; }

.wrapp-menu-destop .button_zakaz {
  color: #f04565 !important; }

.wrapp_button_zakaz .button_zakaz {
  color: #f04565 !important; }

.button_zakaz {
  font-size: 14.5px;
  font-family: HelveticaNeueCyr8;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .button_zakaz:hover {
    text-decoration: none; }
  .button_zakaz:focus {
    text-decoration: none; }

/* Конец кнопки сделать заказ*/
.my-padding-row {
  padding-left: 15px;
  padding-right: 15px; }

body {
  position: relative; }
  body .wrapp-mobail-menu {
    position: absolute;
    padding-top: 42px;
    z-index: 10;
    width: 100%;
    min-width: 150px;
    top: -308px;
    text-align: right;
    background-color: #172136;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    body .wrapp-mobail-menu nav ul {
      padding: 0px;
      margin: 0px;
      padding-top: 27px;
      padding-bottom: 1px; }
      body .wrapp-mobail-menu nav ul li {
        text-align: right;
        padding: 20px 35px;
        list-style-type: none;
        border-bottom: 1px solid; }
        body .wrapp-mobail-menu nav ul li:first-child {
          border-top: 1px solid; }
        body .wrapp-mobail-menu nav ul li a {
          color: #fff;
          font-size: 14.5px;
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s; }
  body .menu-min {
    top: 10px !important;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    z-index: 100; }

.activ {
  color: #5fb2cb; }

.p-0 {
  padding: 0px;
  width: 100%;
  margin: 0 auto; }

/*При клике добавляеться к click-heid*/
.activ-mobail-menu .icon-bar2-top {
  opacity: 0 !important;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.activ-mobail-menu .icon-bar2-top-none {
  -webkit-transform: rotate(-42deg);
      -ms-transform: rotate(-42deg);
          transform: rotate(-42deg);
  position: relative;
  top: 10px;
  opacity: 1 !important;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.activ-mobail-menu .icon-bar2-center {
  opacity: 0 !important;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.activ-mobail-menu .icon-bar2-bottom-none {
  opacity: 1 !important;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  position: relative;
  top: -6px;
  -webkit-transform: rotate(39deg);
      -ms-transform: rotate(39deg);
          transform: rotate(39deg); }

.activ-mobail-menu .icon-bar2-bottom {
  opacity: 0 !important;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.text-righet {
  text-align: right; }

.wrapp-fix-menu-scrol {
  /*width: 100%;
	position: fixed;
	z-index: 10000;
	transition: .7s;*/ }

header {
  width: 100%;
  position: fixed;
  z-index: 10000;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  background-color: #151a1f; }
  header .bg-color {
    position: relative;
    z-index: 100;
    background-color: #151a1f;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px; }
    header .bg-color .media-mobile-none {
      position: relative; }
      header .bg-color .media-mobile-none .btn-click-heid-menu {
        position: relative;
        z-index: 1000;
        text-align: right;
        display: inline-block; }
        header .bg-color .media-mobile-none .btn-click-heid-menu .icon-bar2 {
          border-bottom: 2px solid #fff;
          border-top: 2px solid #fff;
          -webkit-border-radius: 10px;
                  border-radius: 10px;
          width: 28px;
          display: block;
          cursor: pointer; }
        header .bg-color .media-mobile-none .btn-click-heid-menu .icon-bar2-top {
          opacity: 1;
          -webkit-transition: .7s;
          -o-transition: .7s;
          transition: .7s; }
        header .bg-color .media-mobile-none .btn-click-heid-menu .icon-bar2-top-none {
          opacity: 0; }
        header .bg-color .media-mobile-none .btn-click-heid-menu .icon-bar2-center {
          opacity: 1;
          margin: 4px 0px;
          -webkit-transition: .7s;
          -o-transition: .7s;
          transition: .7s; }
        header .bg-color .media-mobile-none .btn-click-heid-menu .icon-bar2-bottom-none {
          opacity: 0; }
        header .bg-color .media-mobile-none .btn-click-heid-menu .icon-bar2-bottom {
          opacity: 1;
          -webkit-transition: .7s;
          -o-transition: .7s;
          transition: .7s; }
  header .logo-top a img {
    padding-top: 4px; }
  header .wrapp-menu-destop {
    text-align: center; }
    header .wrapp-menu-destop nav {
      display: inline-block; }
      header .wrapp-menu-destop nav ul {
        display: inline-block;
        padding: 4px 0px;
        margin: 0px; }
        header .wrapp-menu-destop nav ul li {
          display: inline-block;
          padding: 0px 15px; }
          header .wrapp-menu-destop nav ul li a {
            font-family: HelveticaNeueCyr8;
            color: #fff;
            font-size: 14.5px;
            text-transform: uppercase;
            text-decoration: none;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s; }
            header .wrapp-menu-destop nav ul li a:hover {
              color: #5fb2cb;
              -webkit-transition: .5s;
              -o-transition: .5s;
              transition: .5s; }
  header .wrap-serch-destop {
    position: relative;
    top: 0px; }
  header .wrap-serch-mobail {
    position: relative;
    top: -8px;
    right: 10px; }
  header .wrapp-serch {
    text-align: right;
    position: relative; }
    header .wrapp-serch span input {
      text-decoration: none;
      outline: none;
      background-color: #fff;
      -webkit-border-radius: 20px;
              border-radius: 20px;
      border: none;
      height: 25px;
      padding: 14px 41px 14px 13px;
      width: 200px;
      font-size: 14.5px;
      letter-spacing: 1px; }
    header .wrapp-serch span button {
      background-color: #26738f;
      text-decoration: none;
      outline: none;
      border: none;
      padding: 5px 13px;
      -webkit-border-radius: 15px;
              border-radius: 15px;
      position: absolute;
      right: -1px;
      top: -1px;
      z-index: 10000;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      header .wrapp-serch span button:hover {
        background-color: #17485a !important;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }

.btn-mobail-distop {
  background-color: #26738f;
  text-decoration: none;
  outline: none;
  border: none;
  padding: 5px 13px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .btn-mobail-distop:hover {
    background-color: #17485a !important;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }

.wrapp-click-serch {
  text-align: center;
  background-color: #141a27;
  z-index: 99; }
  .wrapp-click-serch input {
    text-decoration: none;
    outline: none;
    background-color: #fff;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    border: none;
    height: 25px;
    padding: 14px 41px 14px 13px;
    width: 39%;
    font-size: 14.5px;
    letter-spacing: 1px; }
  .wrapp-click-serch .click-serch {
    position: relative; }
    .wrapp-click-serch .click-serch button {
      background-color: #26738f;
      text-decoration: none;
      outline: none;
      border: none;
      padding: 5px 21px;
      -webkit-border-radius: 15px;
              border-radius: 15px;
      position: absolute;
      right: 30.4%;
      top: -1px;
      z-index: 10;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      .wrapp-click-serch .click-serch button:hover {
        background-color: #17485a !important;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }

.wrapp-privu {
  background: url(../img/bgTop.jpg) 100% 100% no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .wrapp-privu .privu {
    padding-top: 142px;
    padding-bottom: 175px; }
    .wrapp-privu .privu p {
      font-size: 20.12px;
      color: #fff;
      font-family: HelveticaNeueCyr5;
      text-transform: uppercase;
      margin: 0px;
      padding: 20px 0px 36px 0px; }
    .wrapp-privu .privu a {
      font-size: 15.53px;
      color: #fff;
      font-family: HelveticaNeueCyr15;
      background-color: #216ba2;
      text-decoration: none;
      outline: none;
      border: 1px solid #fff;
      -webkit-border-radius: 30px;
              border-radius: 30px;
      padding: 16px 22px;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      .wrapp-privu .privu a:hover {
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        background-color: #166274; }
      .wrapp-privu .privu a span {
        padding-left: 9px; }

.wrapp-slider {
  background: url(../img/bgslaider.png) 100% 100% no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .wrapp-slider .title-slider {
    font-size: 20.04px;
    color: #fff;
    text-align: center;
    font-family: HelveticaNeueCyr15;
    margin: 0px;
    padding: 15px 0px 25px 0px; }

.logo-partner {
  width: 110px;
  display: inline-block;
  padding-bottom: 25px; }
  .logo-partner img {
    width: 100%; }

.wraper-title-slaider .title-slaider-text {
  font-size: 21.5px;
  color: #fff;
  font-family: HelveticaNeueCyr11;
  text-transform: uppercase;
  margin: 0px;
  padding-bottom: 25px; }

.wraper-deskription-slaider .deskription-slaider {
  margin: 0px;
  font-size: 14.37px;
  color: #fff;
  font-family: HelveticaNeueCyr11;
  text-transform: uppercase;
  padding-bottom: 25px; }

.wraper-deskription-slaider .wrapp-button-slaider {
  padding-bottom: 30px;
  text-align: right; }
  .wraper-deskription-slaider .wrapp-button-slaider a {
    font-size: 15.53px;
    color: #fff;
    background-color: #216ba2;
    font-family: HelveticaNeueCyr15;
    text-decoration: none;
    outline: none;
    border: 1px solid #fff;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    padding: 16px 22px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .wraper-deskription-slaider .wrapp-button-slaider a:hover {
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      background-color: #166274; }
    .wraper-deskription-slaider .wrapp-button-slaider a span {
      padding-left: 9px; }

.wrapp-slider .wrapp-img-slaid {
  padding-top: 0px;
  text-align: center; }

.wrapp-slider .wrapp-deskription-pribor {
  text-align: center; }
  .wrapp-slider .wrapp-deskription-pribor .deskription-pribor {
    width: 84%;
    text-align: left;
    display: inline-block;
    /*.logo-partner{
				width: 110px;
				img{
					width: 100%;
				}
			}*/ }

.slick-slide img {
  display: inline-block; }

/*слайдер*/
.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.slick-dotted .slick-slider {
  padding-bottom: 20px; }

.global-wrap-slaider {
  outline: none !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.slick-initialized .slick-slide .slick-slide {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

/*секция партнёры*/
.wrapp-partners {
  background-color: #f8f8f8; }
  .wrapp-partners .partners-title-block {
    text-align: center;
    font-size: 20.04px;
    color: #8f8989;
    font-family: HelveticaNeueCyr15;
    padding: 25px; }
  .wrapp-partners .wrapp-content-portners {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-bottom: 20px; }
    .wrapp-partners .wrapp-content-portners .wrapp-cartochi-portners {
      background-color: #fff;
      padding: 5% 5% 0% 5%;
      margin-bottom: 17px;
      -webkit-border-top-right-radius: 40px;
              border-top-right-radius: 40px;
      -webkit-border-top-left-radius: 40px;
              border-top-left-radius: 40px;
      margin: 0 auto;
      border: 1px solid #eee; }
      .wrapp-partners .wrapp-content-portners .wrapp-cartochi-portners .wrapp-logo-partners-img {
        display: inline-block;
        width: 37%;
        height: 26px; }
        .wrapp-partners .wrapp-content-portners .wrapp-cartochi-portners .wrapp-logo-partners-img img {
          width: 100%; }
    .wrapp-partners .wrapp-content-portners .wrapp-bottom-cartochi-portners {
      background-color: #fff;
      padding: 10% 5% 11% 5%;
      -webkit-border-bottom-right-radius: 40px;
              border-bottom-right-radius: 40px;
      -webkit-border-bottom-left-radius: 40px;
              border-bottom-left-radius: 40px;
      border: 1px solid #eee;
      text-align: center; }
      .wrapp-partners .wrapp-content-portners .wrapp-bottom-cartochi-portners a {
        font-size: 15.53px;
        color: #fff;
        font-family: HelveticaNeueCyr8;
        background-color: #216ba2;
        text-decoration: none;
        outline: none;
        border: 1px solid #fff;
        -webkit-border-radius: 30px;
                border-radius: 30px;
        padding: 16px 22px;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .wrapp-partners .wrapp-content-portners .wrapp-bottom-cartochi-portners a:hover {
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s;
          background-color: #166274; }
        .wrapp-partners .wrapp-content-portners .wrapp-bottom-cartochi-portners a span {
          padding-left: 9px; }
  .wrapp-partners .wrapp-name-partners {
    color: #000;
    font-size: 21.5px;
    font-family: HelveticaNeueCyr5;
    padding: 15px 0px; }
  .wrapp-partners .wrapp-text-partners {
    color: #000;
    font-size: 14.5px;
    font-family: HelveticaNeueCyr5;
    padding-bottom: 35px;
    width: 80%; }

.wrapp-bottom-cartochi-portners {
  margin: 0 auto 17px; }

.wrapp-watch-all-partners {
  text-align: center; }
  .wrapp-watch-all-partners .watch-all-partners {
    display: inline-block; }
    .wrapp-watch-all-partners .watch-all-partners .all-partners-text {
      width: 80%;
      padding-bottom: 60px;
      font-size: 24.12px;
      color: #1c1c1c;
      text-align: left;
      font-family: HelveticaNeueCyr1; }
    .wrapp-watch-all-partners .watch-all-partners .all-partners-button {
      text-align: right; }
      .wrapp-watch-all-partners .watch-all-partners .all-partners-button a {
        font-size: 15.53px;
        color: #fff;
        font-family: HelveticaNeueCyr15;
        background-color: #216ba2;
        text-decoration: none;
        outline: none;
        border: 1px solid #fff;
        -webkit-border-radius: 30px;
                border-radius: 30px;
        padding: 16px 22px;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .wrapp-watch-all-partners .watch-all-partners .all-partners-button a:hover {
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s;
          background-color: #166274; }
        .wrapp-watch-all-partners .watch-all-partners .all-partners-button a span {
          padding-left: 9px; }

/*конец секция партнёры*/
/*Блок новости*/
.bg-news {
  background: url(../img/newBg-min.png) 100% 100% no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.wrapp-news {
  padding: 45px 0px; }
  .wrapp-news .wrapp-title-block p {
    font-size: 48px;
    color: #fff;
    font-family: HelveticaNeueCyr15;
    text-transform: uppercase;
    margin: 0px; }
  .wrapp-news .wrapp-text-news p {
    font-size: 16px;
    color: #fff;
    font-weight: 100;
    text-transform: lowercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 40px 0px; }
  .wrapp-news .wrapp-button-news {
    height: auto;
    text-align: right;
    width: 80%;
    padding-top: 16px;
    padding-bottom: 45px; }
    .wrapp-news .wrapp-button-news a {
      background-color: #216ba2;
      text-decoration: none;
      outline: none;
      color: #fff; }
      .wrapp-news .wrapp-button-news a:hover {
        background-color: #166274; }

/*конец блока новости*/
/*стили страницы все партнёры*/
.wrapp-vlojenost {
  background-color: #e0e0e0; }

.wrapp-menu-vlojenost nav ul {
  margin: 0px;
  padding: 30px 15px; }
  .wrapp-menu-vlojenost nav ul li {
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block; }
    .wrapp-menu-vlojenost nav ul li a {
      font-size: 11px;
      text-transform: uppercase;
      display: inline-block;
      color: #bfbfbf;
      text-decoration: none; }
      .wrapp-menu-vlojenost nav ul li a span i {
        font-size: 10px;
        color: #c4c4c4;
        padding: 0px 7px; }
    .wrapp-menu-vlojenost nav ul li:last-child a {
      border-bottom: 1px solid #00aeef;
      cursor: default;
      color: #949494; }
      .wrapp-menu-vlojenost nav ul li:last-child a span i {
        display: none; }

.block_for_padding25x60 {
  padding-top: 25px;
  padding-bottom: 60px; }

.wrap_main_block .wrapp-bottom-cartochi-portners {
  margin-bottom: 40px; }

.line {
  margin: 0 auto;
  height: 1px;
  border-top: 1px solid #bababa; }

.line_width80 {
  padding-top: 10px;
  padding-bottom: 50px;
  width: 68%; }

/*Конец стили страницы все партнёры*/
/*Footer*/
footer {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #272c31; }
  footer .wrapp-logo-bottom {
    position: relative;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase; }
    footer .wrapp-logo-bottom img {
      padding-right: 20px; }
    footer .wrapp-logo-bottom span {
      position: absolute;
      top: 8px;
      font-family: HelveticaNeueCyr8; }
  footer .wrapp-perent-legal-info {
    text-align: left; }
    footer .wrapp-perent-legal-info .wrapp-legal-info {
      margin: 0 auto;
      width: 75%; }
      footer .wrapp-perent-legal-info .wrapp-legal-info p {
        font-family: HelveticaNeueCyr8;
        margin-bottom: 15px; }
        footer .wrapp-perent-legal-info .wrapp-legal-info p a {
          text-decoration: none;
          outline: none;
          color: #fff;
          font-size: 14px;
          font-family: HelveticaNeueCyr8; }
  footer .wrapp-legal-adres .title-legal-adres {
    padding-bottom: 15px; }
  footer .wrapp-bottom-menu {
    text-align: center; }
    footer .wrapp-bottom-menu nav {
      display: inline-block;
      padding-top: 30px; }
      footer .wrapp-bottom-menu nav ul {
        display: inline-block;
        padding: 0px;
        margin: 0px;
        text-align: center; }
        footer .wrapp-bottom-menu nav ul li {
          display: inline-block; }
          footer .wrapp-bottom-menu nav ul li a {
            margin: 0px 20px;
            color: #697179;
            font-size: 14px;
            text-transform: uppercase;
            font-family: HelveticaNeueCyr8;
            text-decoration: none;
            outline: none; }

.footer-wrapp-batton .button_zakaz {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  color: #6c393c !important;
  font-family: HelveticaNeueCyr8;
  font-size: 14px !important; }
  .footer-wrapp-batton .button_zakaz:hover {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #f04565 !important; }

/*END Footer*/
