@charset "UTF-8";
/*Пример обьявления переменной*/
/*Шрифты*/
/*Конец шрафтов*/
/*Кнопка которую можно использовать*/
.wrapp_Send_an_application {
  text-align: right;
  width: 90%;
  margin: 0 auto;
  padding: 15px 0px; }
  .wrapp_Send_an_application a {
    background-color: #216ba2;
    color: #fff;
    padding: 15px 23px 15px 26px;
    margin: 15px 0px;
    text-decoration: none;
    font-size: 20px;
    font-family: HelveticaNeueCyr8;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .wrapp_Send_an_application a:hover {
      background-color: #166274;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .wrapp_Send_an_application a span img {
      padding-left: 17px; }

/*конец*/
/*начало прилоадер*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #166274;
  z-index: 100000000;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  opacity: 1;
  visibility: visible; }
  .preloader .children-preloader {
    position: absolute;
    width: 100px;
    height: 100px;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #3ec4e4;
    border-left: 10px solid #3ec4e4;
    border-right: 10px solid #3ec4e4;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: 1s spin infinite linear;
            animation: 1s spin infinite linear;
    -webkit-box-shadow: 0px 0px 31px 0px #3ec4e4;
            box-shadow: 0px 0px 31px 0px #3ec4e4; }
  .preloader.done {
    opacity: 0;
    visibility: hidden; }
  .preloader span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }

/*конец прилоадер*/
.all-btn {
  font-size: 15.53px;
  color: #fff;
  font-family: HelveticaNeueCyr15;
  text-decoration: none;
  outline: none;
  border: 1px solid #fff;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  padding: 16px 22px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .all-btn:hover {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .all-btn span {
    padding-left: 9px; }

/*Кнопка сделать заказ*/
.wrapp_button_zakaz {
  position: relative;
  top: -2px; }
  .wrapp_button_zakaz ul {
    padding: 0px !important; }

.wrapp-menu-destop .button_zakaz {
  color: #f04565; }
  .wrapp-menu-destop .button_zakaz:hover {
    color: #33d4fa; }

.wrapp_button_zakaz .button_zakaz {
  color: #f04565; }
  .wrapp_button_zakaz .button_zakaz:hover {
    color: #33d4fa; }

.button_zakaz {
  font-size: 14.5px;
  font-family: HelveticaNeueCyr8;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .button_zakaz:hover {
    text-decoration: none; }
  .button_zakaz:focus {
    text-decoration: none; }

/* Конец кнопки сделать заказ*/
.my-padding-row {
  padding-left: 15px;
  padding-right: 15px; }

body {
  position: relative;
  min-width: 320px; }
  body .wrapp-mobail-menu {
    position: absolute;
    padding-top: 42px;
    z-index: 10;
    width: 100%;
    min-width: 150px;
    top: -308px;
    text-align: right;
    background-color: #172136;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    body .wrapp-mobail-menu nav ul {
      padding: 0px;
      margin: 0px;
      padding-top: 27px;
      padding-bottom: 1px; }
      body .wrapp-mobail-menu nav ul li {
        text-align: right;
        padding: 20px 35px;
        list-style-type: none;
        border-bottom: 1px solid; }
        body .wrapp-mobail-menu nav ul li:first-child {
          border-top: 1px solid; }
        body .wrapp-mobail-menu nav ul li a {
          color: #fff;
          font-size: 14.5px;
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s; }
  body .menu-min {
    top: 10px !important;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    z-index: 100; }

.activ {
  color: #5fb2cb; }

.p-0 {
  padding: 0px;
  width: 100%;
  margin: 0 auto; }

/*При клике добавляеться к click-heid*/
.activ-mobail-menu .icon-bar2-top {
  opacity: 0 !important;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.activ-mobail-menu .icon-bar2-top-none {
  -webkit-transform: rotate(-42deg);
      -ms-transform: rotate(-42deg);
          transform: rotate(-42deg);
  position: relative;
  top: 10px;
  opacity: 1 !important;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.activ-mobail-menu .icon-bar2-center {
  opacity: 0 !important;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.activ-mobail-menu .icon-bar2-bottom-none {
  opacity: 1 !important;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  position: relative;
  top: -6px;
  -webkit-transform: rotate(39deg);
      -ms-transform: rotate(39deg);
          transform: rotate(39deg); }

.activ-mobail-menu .icon-bar2-bottom {
  opacity: 0 !important;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.text-righet {
  text-align: right; }

.wrapp-fix-menu-scrol {
  /*width: 100%;
	position: fixed;
	z-index: 10000;
	transition: .7s;*/ }

header {
  width: 100%;
  position: fixed;
  z-index: 10000;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  background-color: #151a1f; }
  header .bg-color {
    position: relative;
    z-index: 100;
    background-color: #151a1f;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px; }
    header .bg-color .media-mobile-none {
      position: relative; }
      header .bg-color .media-mobile-none .btn-click-heid-menu {
        position: relative;
        z-index: 1000;
        text-align: right;
        display: inline-block; }
        header .bg-color .media-mobile-none .btn-click-heid-menu .icon-bar2 {
          border-bottom: 2px solid #fff;
          border-top: 2px solid #fff;
          -webkit-border-radius: 10px;
                  border-radius: 10px;
          width: 28px;
          display: block;
          cursor: pointer; }
        header .bg-color .media-mobile-none .btn-click-heid-menu .icon-bar2-top {
          opacity: 1;
          -webkit-transition: .7s;
          -o-transition: .7s;
          transition: .7s; }
        header .bg-color .media-mobile-none .btn-click-heid-menu .icon-bar2-top-none {
          opacity: 0; }
        header .bg-color .media-mobile-none .btn-click-heid-menu .icon-bar2-center {
          opacity: 1;
          margin: 4px 0px;
          -webkit-transition: .7s;
          -o-transition: .7s;
          transition: .7s; }
        header .bg-color .media-mobile-none .btn-click-heid-menu .icon-bar2-bottom-none {
          opacity: 0; }
        header .bg-color .media-mobile-none .btn-click-heid-menu .icon-bar2-bottom {
          opacity: 1;
          -webkit-transition: .7s;
          -o-transition: .7s;
          transition: .7s; }
  header .logo-top a img {
    padding-top: 4px; }
  header .wrapp-menu-destop {
    text-align: left; }
    header .wrapp-menu-destop nav {
      display: inline-block; }
      header .wrapp-menu-destop nav ul {
        display: inline-block;
        padding: 4px 0px;
        margin: 0px; }
        header .wrapp-menu-destop nav ul li {
          display: inline-block;
          padding: 0px 15px; }
          header .wrapp-menu-destop nav ul li a {
            font-family: HelveticaNeueCyr8;
            color: #fff;
            font-size: 14.5px;
            text-transform: uppercase;
            text-decoration: none;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s; }
            header .wrapp-menu-destop nav ul li a:hover {
              color: #5fb2cb;
              -webkit-transition: .5s;
              -o-transition: .5s;
              transition: .5s; }
  header .wrap-serch-destop {
    position: relative;
    top: 0px; }
  header .wrap-serch-mobail {
    position: relative;
    top: -8px;
    right: 10px; }
  header .wrapp-serch {
    text-align: right;
    position: relative; }
    header .wrapp-serch span input {
      text-decoration: none;
      outline: none;
      background-color: #fff;
      -webkit-border-radius: 20px;
              border-radius: 20px;
      border: none;
      height: 25px;
      padding: 14px 41px 14px 13px;
      width: 200px;
      font-size: 14.5px;
      letter-spacing: 1px; }
    header .wrapp-serch span button {
      background-color: #26738f;
      text-decoration: none;
      outline: none;
      border: none;
      padding: 5px 13px;
      -webkit-border-radius: 15px;
              border-radius: 15px;
      position: absolute;
      right: -1px;
      top: -1px;
      z-index: 10000;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      header .wrapp-serch span button:hover {
        background-color: #17485a !important;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }

.btn-mobail-distop {
  background-color: #26738f;
  text-decoration: none;
  outline: none;
  border: none;
  padding: 5px 13px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .btn-mobail-distop:hover {
    background-color: #17485a !important;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }

.wrapp-click-serch {
  text-align: center;
  background-color: #141a27;
  z-index: 99; }
  .wrapp-click-serch input {
    text-decoration: none;
    outline: none;
    background-color: #fff;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    border: none;
    height: 25px;
    padding: 14px 41px 14px 13px;
    width: 39%;
    font-size: 14.5px;
    letter-spacing: 1px; }
  .wrapp-click-serch .click-serch {
    position: relative; }
    .wrapp-click-serch .click-serch button {
      background-color: #26738f;
      text-decoration: none;
      outline: none;
      border: none;
      padding: 5px 21px;
      -webkit-border-radius: 15px;
              border-radius: 15px;
      position: absolute;
      right: 30.4%;
      top: -1px;
      z-index: 10;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      .wrapp-click-serch .click-serch button:hover {
        background-color: #17485a !important;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }

.wrapp-privu {
  background: url(../img/bgTop.jpg) 100% 100% no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .wrapp-privu .privu {
    padding-top: 142px;
    padding-bottom: 175px; }
    .wrapp-privu .privu p {
      font-size: 20.12px;
      color: #fff;
      font-family: HelveticaNeueCyr5;
      text-transform: uppercase;
      margin: 0px;
      padding: 20px 0px 36px 0px;
      letter-spacing: 1px;
      word-spacing: 2px; }
    .wrapp-privu .privu a {
      font-size: 15.53px;
      color: #fff;
      font-family: HelveticaNeueCyr15;
      background-color: #166274;
      text-decoration: none;
      outline: none;
      border: 1px solid #fff;
      -webkit-border-radius: 30px;
              border-radius: 30px;
      padding: 16px 22px;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      .wrapp-privu .privu a:hover {
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        background-color: #216ba2; }
      .wrapp-privu .privu a span {
        padding-left: 9px; }

.wrapp-slider {
  background: url(../img/bgslaider.png) 100% 100% no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .wrapp-slider .title-slider {
    font-size: 20.04px;
    color: #fff;
    text-align: center;
    font-family: HelveticaNeueCyr15;
    margin: 0px;
    padding: 15px 0px 25px 0px; }

.for_padding33 {
  padding-top: 33px; }

.logo-partner {
  width: 110px;
  display: inline-block;
  padding-bottom: 25px; }
  .logo-partner img {
    width: 100%; }

.wraper-title-slaider .title-slaider-text {
  font-size: 21.5px;
  color: #fff;
  font-family: HelveticaNeueCyr11;
  text-transform: uppercase;
  margin: 0px;
  padding-bottom: 25px; }

.wraper-deskription-slaider .deskription-slaider {
  margin: 0px;
  font-size: 14.37px;
  color: #fff;
  font-family: HelveticaNeueCyr11;
  padding-bottom: 30px; }

.wraper-deskription-slaider .wrapp-button-slaider {
  padding-bottom: 30px;
  text-align: right; }
  .wraper-deskription-slaider .wrapp-button-slaider a {
    font-size: 15.53px;
    color: #fff;
    background-color: #166274;
    font-family: HelveticaNeueCyr15;
    text-decoration: none;
    outline: none;
    border: 1px solid #fff;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    padding: 16px 22px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .wraper-deskription-slaider .wrapp-button-slaider a:hover {
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      background-color: #216ba2; }
    .wraper-deskription-slaider .wrapp-button-slaider a span {
      padding-left: 9px; }

.wrapp-slider .wrapp-img-slaid {
  padding-top: 0px;
  text-align: center; }

.wrapp-slider .wrapp-deskription-pribor {
  text-align: center; }
  .wrapp-slider .wrapp-deskription-pribor .deskription-pribor {
    width: 84%;
    text-align: left;
    display: inline-block;
    /*.logo-partner{
				width: 110px;
				img{
					width: 100%;
				}
			}*/ }

.slick-slide img {
  display: inline-block; }

/*слайдер*/
.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.slick-dotted .slick-slider {
  padding-bottom: 20px; }

.global-wrap-slaider {
  outline: none !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.slick-initialized .slick-slide .slick-slide {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

/*секция партнёры*/
.wrapp-partners {
  background-color: #f0f0f0; }
  .wrapp-partners .partners-title-block {
    text-align: center;
    font-size: 20.04px;
    color: #383838;
    font-family: HelveticaNeueCyr15;
    padding: 25px;
    text-transform: uppercase;
    font-weight: 900; }
  .wrapp-partners .wrapp-content-portners {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-bottom: 20px; }
    .wrapp-partners .wrapp-content-portners .wrapp-cartochi-portners {
      background-color: #fff;
      padding: 5% 5% 0% 5%;
      margin-bottom: 17px;
      -webkit-border-top-right-radius: 40px;
              border-top-right-radius: 40px;
      -webkit-border-top-left-radius: 40px;
              border-top-left-radius: 40px;
      margin: 0 auto;
      border: 1px solid #eee; }
      .wrapp-partners .wrapp-content-portners .wrapp-cartochi-portners .wrapp-logo-partners-img {
        display: inline-block;
        width: 37%;
        height: 26px;
        margin-left: 11px;
        margin-top: 11px; }
        .wrapp-partners .wrapp-content-portners .wrapp-cartochi-portners .wrapp-logo-partners-img img {
          width: 100%; }
    .wrapp-partners .wrapp-content-portners .wrapp-bottom-cartochi-portners {
      background-color: #fff;
      padding: 10% 5% 11% 5%;
      -webkit-border-bottom-right-radius: 40px;
              border-bottom-right-radius: 40px;
      -webkit-border-bottom-left-radius: 40px;
              border-bottom-left-radius: 40px;
      border: 1px solid #eee;
      text-align: center; }
      .wrapp-partners .wrapp-content-portners .wrapp-bottom-cartochi-portners a {
        font-size: 15.53px;
        color: #fff;
        font-family: HelveticaNeueCyr8;
        background-color: #166274;
        text-decoration: none;
        outline: none;
        border: 1px solid #fff;
        -webkit-border-radius: 30px;
                border-radius: 30px;
        padding: 9px 12px 9px 10px;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .wrapp-partners .wrapp-content-portners .wrapp-bottom-cartochi-portners a:hover {
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s;
          background-color: #216ba2; }
        .wrapp-partners .wrapp-content-portners .wrapp-bottom-cartochi-portners a span {
          padding-left: 7px; }
  .wrapp-partners .wrapp-name-partners {
    color: #000;
    font-size: 21.5px;
    font-family: HelveticaNeueCyr5;
    padding: 15px 0px;
    padding-left: 10px; }
  .wrapp-partners .wrapp-text-partners {
    color: #000;
    font-size: 14.5px;
    font-family: HelveticaNeueCyr5;
    margin-left: 10px;
    padding-bottom: 70px;
    width: 80%; }

.wrapp-bottom-cartochi-portners {
  margin: 0 auto 17px; }

.wrapp-watch-all-partners {
  text-align: center; }
  .wrapp-watch-all-partners .watch-all-partners {
    display: inline-block; }
    .wrapp-watch-all-partners .watch-all-partners .all-partners-text {
      width: 80%;
      padding-bottom: 60px;
      font-size: 24.12px;
      color: #1c1c1c;
      text-align: left;
      font-family: HelveticaNeueCyr15; }
    .wrapp-watch-all-partners .watch-all-partners .all-partners-button {
      text-align: right; }
      .wrapp-watch-all-partners .watch-all-partners .all-partners-button a {
        font-size: 15.53px;
        color: #fff;
        font-family: HelveticaNeueCyr15;
        background-color: #166274;
        text-decoration: none;
        outline: none;
        border: 1px solid #fff;
        -webkit-border-radius: 30px;
                border-radius: 30px;
        padding: 16px 22px;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .wrapp-watch-all-partners .watch-all-partners .all-partners-button a:hover {
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s;
          background-color: #216ba2; }
        .wrapp-watch-all-partners .watch-all-partners .all-partners-button a span {
          padding-left: 9px; }

/*конец секция партнёры*/
/*Блок новости*/
.bg-news {
  background: url(../img/newBg-min.png) 100% 100% no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.wrapp-news {
  padding: 45px 0px; }
  .wrapp-news .wrapp-title-block p {
    font-size: 48px;
    color: #fff;
    font-family: HelveticaNeueCyr15;
    margin: 0px; }
  .wrapp-news .wrapp-text-news p {
    font-size: 16px;
    color: #fff;
    font-weight: 100;
    text-transform: lowercase;
    font-family: HelveticaNeueCyr5;
    margin: 0px;
    padding: 40px 0px; }
  .wrapp-news .wrapp-button-news {
    height: auto;
    text-align: right;
    width: 80%;
    padding-top: 16px;
    padding-bottom: 45px; }
    .wrapp-news .wrapp-button-news a {
      background-color: #166274;
      text-decoration: none;
      outline: none;
      color: #fff; }
      .wrapp-news .wrapp-button-news a:hover {
        background-color: #216ba2; }

/*конец блока новости*/
/*стили страницы все партнёры*/
.wrapp-vlojenost {
  background-color: #f0f0f0; }

.wrapp-menu-vlojenost nav ul {
  margin: 0px;
  padding: 30px 15px; }
  .wrapp-menu-vlojenost nav ul li {
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block; }
    .wrapp-menu-vlojenost nav ul li a {
      font-size: 11px;
      text-transform: uppercase;
      display: inline-block;
      color: #bfbfbf;
      text-decoration: none; }
      .wrapp-menu-vlojenost nav ul li a span i {
        font-size: 10px;
        color: #c4c4c4;
        padding: 0px 7px; }
    .wrapp-menu-vlojenost nav ul li:last-child a {
      border-bottom: 1px solid #00aeef;
      cursor: default;
      color: #949494; }
      .wrapp-menu-vlojenost nav ul li:last-child a span i {
        display: none; }

.block_for_padding25x60 {
  padding-top: 25px;
  padding-bottom: 60px; }

.wrap_main_block .wrapp-bottom-cartochi-portners {
  margin-bottom: 40px; }

.line {
  margin: 0 auto;
  height: 1px;
  border-top: 1px solid #bababa; }

.line_width80 {
  padding-top: 10px;
  padding-bottom: 50px;
  width: 68%; }

.My_Block {
  background-color: white;
  padding: 75px 60px 60px 60px;
  margin-bottom: 50px; }
  .My_Block .wrapp_button {
    padding-bottom: 0px;
    text-align: right; }
    .My_Block .wrapp_button a {
      /*background-color: #216ba2;
			font-size: 27px;
			text-decoration: none;
			color: #fff;*/
      font-size: 17px;
      color: #fff;
      font-family: HelveticaNeueCyr8;
      background-color: #216ba2;
      text-decoration: none;
      outline: none;
      border: 1px solid #fff;
      -webkit-border-radius: 15px;
              border-radius: 15px;
      padding: 10px 20px 10px 35px;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      .My_Block .wrapp_button a img {
        margin-left: 40px; }

.wrapp_img_end_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.wrapp_charackteristici {
  display: inline-block; }

.title_lavel_two {
  text-align: center;
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 0px;
  font-weight: 500;
  font-family: HelveticaNeueCyr8; }
  .title_lavel_two .line {
    width: 80px;
    background: #00aeef;
    border: 1px solid #00aeef;
    margin-bottom: 20px; }

/*.lain{
	text-align: center;
	span{
		width: 80px;
		height: 1px;
		background: #00aeef;
	}
}*/
.wrapp_charackteristici_boss {
  width: 50%;
  text-align: center;
  margin: 0px; }

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.margine_for_img {
  text-align: center; }

.title_lavel_three {
  font-weight: 600;
  margin: 0px 0px 20px 0px;
  font-size: 20px; }

.paragraph_about {
  font-size: 16px;
  font-family: HelveticaNeueCyr8;
  letter-spacing: -1px;
  line-height: 25px; }

.paragraph_range {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  color: #060c4a;
  margin: 0px;
  font-family: HelveticaNeueCyr8; }

/*Конец стили страницы все партнёры*/
/*стили страницы все тектроникс*/
.my_center {
  text-align: center; }

.img_pribor {
  position: relative;
  top: -40px; }

.wrapp-vlojenost-tektronix {
  background-color: #f0f0f0; }

.block_for_padding25x150 {
  padding-top: 55px;
  padding-bottom: 150px; }

.wrapp-all-produkt {
  padding: 60px 0px; }

.wrapp-all-produkt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .wrapp-all-produkt .desckriptions-produkt {
    padding: 40px 70px 70px 30px;
    width: 51%;
    position: relative;
    right: -10px;
    background: #fff; }
    .wrapp-all-produkt .desckriptions-produkt .wrapp-img-tektronik img {
      width: 170px;
      padding-bottom: 20px;
      border-bottom: 1px solid #1ee1d1; }
    .wrapp-all-produkt .desckriptions-produkt .wrapp-deskripteons-text p {
      text-align: justify;
      font-size: 12px;
      font-family: HelveticaNeueCyr8;
      padding-top: 15px;
      color: #434242; }
  .wrapp-all-produkt .cetegori-produkt {
    padding: 35px 15px;
    width: 50%;
    background-image: url(../img/fon_desk_menu.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
            background-size: cover;
    text-align: center; }
    .wrapp-all-produkt .cetegori-produkt .activ_produckt_tektronix a {
      color: #093b73; }
      .wrapp-all-produkt .cetegori-produkt .activ_produckt_tektronix a:before {
        content: "";
        border: 1px solid #fff;
        background-color: #093b73; }
    .wrapp-all-produkt .cetegori-produkt h2 {
      display: inline-block;
      font-size: 20px;
      font-family: HelveticaNeueCyr8;
      text-align: center;
      margin-bottom: 25px;
      padding-bottom: 20px;
      border-bottom: 1px solid #e3e2e1;
      color: #fff; }
    .wrapp-all-produkt .cetegori-produkt nav ul {
      padding: 0px;
      text-align: left; }
      .wrapp-all-produkt .cetegori-produkt nav ul li {
        list-style-type: none;
        padding: 10px 0px;
        position: relative;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        font-size: 19px; }
        .wrapp-all-produkt .cetegori-produkt nav ul li span {
          width: 10px;
          height: 10px;
          position: relative;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          border: 1px solid #fff; }
        .wrapp-all-produkt .cetegori-produkt nav ul li a {
          font-size: 16px;
          font-weight: 700;
          color: #fff;
          text-decoration: none; }
          .wrapp-all-produkt .cetegori-produkt nav ul li a:before {
            content: "";
            width: 10px;
            height: 10px;
            border: 1px solid #fff;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            display: inline-block;
            left: -20px;
            top: 16px;
            -webkit-transition: 1s;
            -o-transition: 1s;
            transition: 1s;
            margin: 0px 25px; }
          .wrapp-all-produkt .cetegori-produkt nav ul li a:hover {
            color: #093b73;
            -webkit-transition: 1s;
            -o-transition: 1s;
            transition: 1s; }
            .wrapp-all-produkt .cetegori-produkt nav ul li a:hover:before {
              background-color: #093b73;
              -webkit-transition: 1s;
              -o-transition: 1s;
              transition: 1s; }

/*Конец стили страницы все тектроникс*/
/*страница продукта*/
.chet {
  background-color: #e2f5fd; }

.my_prioritet .ul_product_page {
  padding: 30px 15px 50px 15px; }

.wrapp_product_body {
  background-color: #f0f0f0; }
  .wrapp_product_body .bg_big_contener {
    /*padding: 0px 60px;*/
    background-color: #fff; }
    .wrapp_product_body .bg_big_contener .wrapp_title_page {
      padding: 35px 0px 0px 0px; }
      .wrapp_product_body .bg_big_contener .wrapp_title_page .text_title_page {
        text-align: center;
        font-size: 30px;
        margin-bottom: 70px;
        margin-top: 0px;
        font-weight: 500;
        font-family: HelveticaNeueCyr8; }
    .wrapp_product_body .bg_big_contener .wrapp_title_page_geria p {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      font-family: HelveticaNeueCyr8;
      padding: 0px;
      margin: 0px; }
  .wrapp_product_body .wrapp_img_product {
    text-align: right; }
  .wrapp_product_body .wrapp_big_desk_project {
    text-align: center; }
    .wrapp_product_body .wrapp_big_desk_project .wrapp_desk_project {
      display: inline-block;
      max-width: 412px; }
      .wrapp_product_body .wrapp_big_desk_project .wrapp_desk_project p {
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        font-family: HelveticaNeueCyr8; }

.wrapp_flex_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 37px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .wrapp_flex_block .wrapp_img {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
        -ms-flex: 4;
            flex: 4;
    text-align: right; }
    .wrapp_flex_block .wrapp_img img {
      max-width: 100%;
      position: relative; }
  .wrapp_flex_block .wrapp_description {
    -webkit-box-flex: 5;
    -webkit-flex: 5;
        -ms-flex: 5;
            flex: 5;
    text-align: center; }
    .wrapp_flex_block .wrapp_description .wrapp_product_p {
      display: inline-block;
      max-width: 412px; }
      .wrapp_flex_block .wrapp_description .wrapp_product_p p {
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        font-family: HelveticaNeueCyr8;
        margin: 0px; }

.wrapp_block_teh {
  text-align: left;
  padding-top: 37px; }
  .wrapp_block_teh .wrapp_text_teh {
    display: inline-block; }
    .wrapp_block_teh .wrapp_text_teh p {
      text-align: left;
      font-size: 16px;
      font-weight: 700;
      color: #060c4a;
      margin: 0px;
      font-family: HelveticaNeueCyr8; }

.wrapp_info_table_har {
  text-align: center;
  margin-top: 100px; }
  .wrapp_info_table_har .wrapp_title_description_text {
    /*display: inline-block;*/
    margin: 0 auto;
    width: 90%; }
    .wrapp_info_table_har .wrapp_title_description_text .title_deskription_text {
      font-size: 14px;
      text-transform: uppercase;
      font-family: HelveticaNeueCyr8;
      margin: 0px;
      font-weight: 100;
      text-align: left; }
    .wrapp_info_table_har .wrapp_title_description_text .line_text {
      border-bottom: 1px solid #a0daf0;
      width: 80px;
      text-align: left;
      margin: 5px 0px 10px 0px; }
    .wrapp_info_table_har .wrapp_title_description_text .line_text2 {
      border-bottom: 1px solid #a0daf0;
      width: 188px;
      text-align: left;
      margin: 5px 0px 54px 0px; }
    .wrapp_info_table_har .wrapp_title_description_text .my_otst2 {
      padding-top: 40px; }
    .wrapp_info_table_har .wrapp_title_description_text .big_wrapp_tabl {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: left;
      border: 1px solid #cccccc; }
      .wrapp_info_table_har .wrapp_title_description_text .big_wrapp_tabl .wtapp_table {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 70px; }
        .wrapp_info_table_har .wrapp_title_description_text .big_wrapp_tabl .wtapp_table .tabel_name {
          width: 100%;
          text-align: left;
          font-size: 12px;
          font-weight: 600;
          padding: 0px 14px 0px 6px; }
        .wrapp_info_table_har .wrapp_title_description_text .big_wrapp_tabl .wtapp_table .tabel_blok {
          width: 100%;
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          font-family: HelveticaNeueCyr8;
          /*padding: 27px 0px;*/ }

.wrapp_section_name {
  width: 20%;
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #cccccc; }

.wrapp_section_block {
  width: 40%;
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .wrapp_section_block:last-child {
    border-left: 1px solid #cccccc; }

.my_border_left {
  border-left: 1px solid #ccc; }

.my_wrapp_title_desk_zag {
  margin: 10px 0px 45px 0px;
  text-align: center; }

.my_wrapp_title_desk_zag_2 {
  margin: 80px 0px 30px 0px;
  text-align: center; }

.wrapp_title_desk_zag h6 {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  font-family: HelveticaNeueCyr8;
  margin: 0px;
  font-weight: 100; }

.wrapp_title_desk_zag div {
  display: inline-block;
  width: 32px;
  border-bottom: 1px solid #a0daf0;
  padding-top: 8px;
  font-family: HelveticaNeueCyr8; }

.wrap_teh_top_left nav {
  text-align: center; }
  .wrap_teh_top_left nav ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    position: relative;
    right: 35px; }
    .wrap_teh_top_left nav ul li {
      text-align: left;
      font-size: 12px;
      text-transform: uppercase;
      font-family: HelveticaNeueCyr8;
      margin: 0px;
      font-weight: 100;
      list-style: none; }
      .wrap_teh_top_left nav ul li:before {
        content: "•";
        font-size: 16px;
        position: relative;
        left: -10px;
        color: #0083ff; }

.my_wrap_teh_top_right nav {
  /*margin-bottom: 55px;*/
  text-align: right; }
  .my_wrap_teh_top_right nav ul {
    width: 90%;
    right: 0px; }
    .my_wrap_teh_top_right nav ul li {
      position: relative;
      padding-bottom: 10px; }
      .my_wrap_teh_top_right nav ul li:before {
        content: "•";
        font-size: 16px;
        position: absolute;
        left: -20px;
        top: -4px;
        color: #0083ff; }

.my_otst_ot_button {
  padding-top: 65px; }

.my_otst_ot_button_80 {
  padding-bottom: 80px; }

.wrapp_next_str {
  width: 70%;
  margin: 0 auto;
  padding: 15px 0px; }
  .wrapp_next_str span:last-child {
    margin-left: 17px; }
  .wrapp_next_str span:first-child {
    margin-right: 17px; }

/*Конец страницы продукта*/
/*стили дл страницы о нас*/
.page_about .distrintion_page_about {
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  color: #202020;
  width: 81%; }

.page_about .wrap_content_text .wrap_title_page .line_contact {
  border-top: 1px solid #4ca3e5;
  display: inline-block;
  width: 63%; }

.page_about .wrap_contact_info .wrap_block_contact_info {
  width: 75%; }
  .page_about .wrap_contact_info .wrap_block_contact_info .wrap_block_info .wrap_desc_info h3 {
    text-align: center; }
  .page_about .wrap_contact_info .wrap_block_contact_info .wrap_block_info .wrap_desc_info p {
    text-transform: uppercase;
    text-align: center; }

/*Конец стилий для страницы о нас*/
/*Стили для формы обратной связи на странице продуктов*/
.activ_shov_form {
  display: inline-block !important;
  opacity: 1 !important;
  -webkit-transition: all 2s ease-out 0s !important;
  -o-transition: all 2s ease-out 0s !important;
  transition: all 2s ease-out 0s !important; }

.wrapp_section_form {
  /*	transition: all 1s ease-out 0s;
	opacity: 0;*/
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(240, 240, 240, 0.9);
  z-index: 100000; }
  .wrapp_section_form .wrapp_form_zakaz {
    width: 940px;
    background-image: url(../img/fons/fon_page_product.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
            background-size: cover;
    position: absolute;
    z-index: 10000000;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .wrapp_section_form .wrapp_form_zakaz .wrapp_clouz {
      position: absolute;
      right: 0px;
      padding: 0px 10px;
      display: inline-block;
      font-size: 24px;
      background: #216ba2;
      color: #fff;
      top: 0px;
      cursor: pointer; }
    .wrapp_section_form .wrapp_form_zakaz .wrapp_blue_bg_text {
      font-family: HelveticaNeueCyr15;
      font-size: 25.5px;
      color: #fff;
      text-align: center;
      -webkit-box-flex: 2.52;
      -webkit-flex: 2.52;
          -ms-flex: 2.52;
              flex: 2.52;
      background-color: rgba(33, 107, 162, 0.9);
      padding-top: 90px;
      padding-bottom: 15px; }
      .wrapp_section_form .wrapp_form_zakaz .wrapp_blue_bg_text .my_line {
        width: 105px;
        margin: 0 auto;
        border-bottom: 1px solid #7aa6c7; }
    .wrapp_section_form .wrapp_form_zakaz .wrapp_input_form {
      text-align: center;
      font-family: HelveticaNeueCyr8;
      padding: 180px 20px 20px 20px;
      -webkit-box-flex: 3.5;
      -webkit-flex: 3.5;
          -ms-flex: 3.5;
              flex: 3.5;
      background-color: rgba(255, 255, 255, 0.9); }
      .wrapp_section_form .wrapp_form_zakaz .wrapp_input_form .wrapp_form_produkt {
        display: inline-block;
        width: 90%;
        position: relative; }
        .wrapp_section_form .wrapp_form_zakaz .wrapp_input_form .wrapp_form_produkt .wrapp_form_name {
          text-align: right;
          padding-right: 10px;
          margin: 12px 0px; }
          .wrapp_section_form .wrapp_form_zakaz .wrapp_input_form .wrapp_form_produkt .wrapp_form_name div {
            position: absolute;
            left: 0px;
            top: 12px;
            font-size: 22px;
            font-family: HelveticaNeueCyr15; }
          .wrapp_section_form .wrapp_form_zakaz .wrapp_input_form .wrapp_form_produkt .wrapp_form_name input {
            display: inline-block;
            width: 320px;
            padding: 5px 7px;
            border: 1px solid #ccc;
            outline: none;
            font-family: HelveticaNeueCyr8; }
          .wrapp_section_form .wrapp_form_zakaz .wrapp_input_form .wrapp_form_produkt .wrapp_form_name textarea {
            margin-top: 12px;
            display: inline-block;
            width: 320px;
            height: 150px;
            padding: 5px 7px;
            border: 1px solid #ccc;
            outline: none;
            font-family: HelveticaNeueCyr8; }
      .wrapp_section_form .wrapp_form_zakaz .wrapp_input_form .wrapp_form_produkt_btn {
        margin-top: 33px;
        margin-bottom: 35px; }

@media (max-width: 1000px) {
  .wrapp_form_zakaz {
    width: 90% !important; }
    .wrapp_form_zakaz .wrapp_blue_bg_text {
      padding-top: 20px !important; }
    .wrapp_form_zakaz .wrapp_input_form {
      padding: 20px 20px 20px 20px !important; }
    .wrapp_form_zakaz .wrapp_form_produkt_btn {
      margin: 0px !important; }
  .wrapp_section_form .wrapp_form_zakaz .wrapp_input_form .wrapp_form_produkt .wrapp_form_name {
    text-align: center;
    display: inline-block;
    margin: 4px 0px; }
    .wrapp_section_form .wrapp_form_zakaz .wrapp_input_form .wrapp_form_produkt .wrapp_form_name div {
      text-align: left;
      position: relative;
      top: 0px;
      left: 0px; }
    .wrapp_section_form .wrapp_form_zakaz .wrapp_input_form .wrapp_form_produkt .wrapp_form_name textarea {
      margin-top: 4px; } }

@media (max-width: 1000px) {
  .wrapp_form_name {
    display: block !important; }
    .wrapp_form_name input {
      width: 100% !important; }
    .wrapp_form_name textarea {
      width: 100% !important; } }

@media (max-width: 656px) {
  .wrapp_section_form .wrapp_form_zakaz {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (max-width: 740px) {
  .wrapp_form_zakaz {
    width: 90% !important; }
    .wrapp_form_zakaz .wrapp_blue_bg_text {
      padding-top: 30px; }
    .wrapp_form_zakaz .wrapp_input_form {
      padding: 50px 20px 20px 20px; }
    .wrapp_form_zakaz .wrapp_form_produkt_btn {
      margin: 0px !important; }
      .wrapp_form_zakaz .wrapp_form_produkt_btn .wrapp_Send_an_application {
        position: relative;
        bottom: -30px; }
  .wrapp_section_form .wrapp_form_zakaz .wrapp_input_form .wrapp_form_produkt .wrapp_form_name {
    text-align: center;
    display: inline-block;
    margin: 4px 0px; }
    .wrapp_section_form .wrapp_form_zakaz .wrapp_input_form .wrapp_form_produkt .wrapp_form_name div {
      text-align: left;
      position: relative;
      top: 0px;
      left: 0px; }
    .wrapp_section_form .wrapp_form_zakaz .wrapp_input_form .wrapp_form_produkt .wrapp_form_name textarea {
      margin-top: 4px; } }

/*Конец стилей для формы обратной связи на стронице продукта*/
/*Стили для страницы контакты*/
.my_margin_contact {
  padding-bottom: 66px;
  background-color: #f0f0f0; }

.wrapp_content_page_contact {
  padding: 36px 0px 85px 0px;
  background-color: #f0f0f0; }

.bg_fon_fff {
  background-color: #fff; }

.wrap_content_text {
  padding: 70px 0px 130px 0px; }
  .wrap_content_text .wrap_title_page {
    padding-bottom: 77px;
    text-align: center; }
    .wrap_content_text .wrap_title_page h1 {
      color: #202020;
      text-align: center;
      font-size: 16px;
      text-transform: uppercase;
      font-family: HelveticaNeueCyr8;
      margin: 0px;
      padding-bottom: 40px; }
    .wrap_content_text .wrap_title_page .line_contact {
      border-top: 1px solid #d8edc6;
      display: inline-block;
      width: 53%; }

.wrap_contact_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .wrap_contact_info .wrap_block_contact_info {
    width: 60%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .wrap_contact_info .wrap_block_contact_info .wrap_block_info {
      text-align: center;
      /*width: 25%;*/
      text-align: center; }
      .wrap_contact_info .wrap_block_contact_info .wrap_block_info:first-child {
        text-align: left; }
      .wrap_contact_info .wrap_block_contact_info .wrap_block_info .wrap_image_info {
        margin-bottom: 17px; }
        .wrap_contact_info .wrap_block_contact_info .wrap_block_info .wrap_image_info div {
          display: inline-block;
          width: 75px;
          height: 75px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          border: 1px solid #d5fcff; }
          .wrap_contact_info .wrap_block_contact_info .wrap_block_info .wrap_image_info div img {
            padding: 16px; }
        .wrap_contact_info .wrap_block_contact_info .wrap_block_info .wrap_image_info:first-child {
          text-align: center; }
      .wrap_contact_info .wrap_block_contact_info .wrap_block_info .wrap_desc_info {
        display: inline-block;
        text-align: left; }
        .wrap_contact_info .wrap_block_contact_info .wrap_block_info .wrap_desc_info h3 {
          margin: 0px;
          font-size: 14px;
          color: #202020;
          font-family: HelveticaNeueCyr8;
          padding-bottom: 9px;
          text-align: center; }
        .wrap_contact_info .wrap_block_contact_info .wrap_block_info .wrap_desc_info p {
          font-size: 12px;
          font-family: HelveticaNeueCyr1;
          color: #0d0d0d; }

/*Конец стилей для страницы контакты*/
/*Footer*/
footer {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #272c31; }
  footer .wrapp-logo-bottom {
    position: relative;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase; }
    footer .wrapp-logo-bottom img {
      padding-right: 20px; }
    footer .wrapp-logo-bottom span {
      position: absolute;
      top: 8px;
      font-family: HelveticaNeueCyr8; }
  footer .wrapp-perent-legal-info {
    text-align: left; }
    footer .wrapp-perent-legal-info .wrapp-legal-info {
      margin: 0 auto;
      width: 75%; }
      footer .wrapp-perent-legal-info .wrapp-legal-info p {
        font-family: HelveticaNeueCyr8;
        margin-bottom: 15px; }
        footer .wrapp-perent-legal-info .wrapp-legal-info p a {
          text-decoration: none;
          outline: none;
          color: #fff;
          font-size: 14px;
          font-family: HelveticaNeueCyr8; }
  footer .wrapp-legal-adres .title-legal-adres {
    padding-bottom: 15px; }
  footer .wrapp-bottom-menu {
    text-align: center; }
    footer .wrapp-bottom-menu nav {
      display: inline-block;
      padding-top: 30px; }
      footer .wrapp-bottom-menu nav ul {
        display: inline-block;
        padding: 0px;
        margin: 0px;
        text-align: center; }
        footer .wrapp-bottom-menu nav ul li {
          display: inline-block; }
          footer .wrapp-bottom-menu nav ul li a {
            margin: 0px 20px;
            color: #697179;
            font-size: 14px;
            text-transform: uppercase;
            font-family: HelveticaNeueCyr8;
            text-decoration: none;
            outline: none; }

.footer-wrapp-batton .button_zakaz {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  color: #6c393c !important;
  font-family: HelveticaNeueCyr8;
  font-size: 14px !important; }
  .footer-wrapp-batton .button_zakaz:hover {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #f04565; }

/*END Footer*/
/*Стили для страницы сделать заказ*/
.wrapp_block_order {
  padding: 70px 0px 90px 0px; }
  .wrapp_block_order .wrap_block_name_page {
    text-align: center;
    margin-bottom: 60px; }
    .wrapp_block_order .wrap_block_name_page h1 {
      color: #202020;
      text-align: center;
      font-size: 16px;
      text-transform: uppercase;
      font-family: HelveticaNeueCyr8;
      margin: 0px;
      padding-bottom: 30px; }
    .wrapp_block_order .wrap_block_name_page .line_page {
      border-top: 1px solid #4ca3e5;
      display: inline-block;
      width: 63%; }
  .wrapp_block_order .wrpa_3_block_flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .wrapp_block_order .wrpa_3_block_flex .wrap_section_block {
      border: 1px solid #4ca3e5;
      -webkit-border-radius: 30px;
              border-radius: 30px;
      width: 27%;
      overflow: hidden; }
      .wrapp_block_order .wrpa_3_block_flex .wrap_section_block a {
        display: inline-block;
        padding: 55px 0px 6px 0px;
        width: 100%;
        text-align: center;
        text-decoration: none;
        height: 100%;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .wrapp_block_order .wrpa_3_block_flex .wrap_section_block a:hover {
          background-color: #023459;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s; }
        .wrapp_block_order .wrpa_3_block_flex .wrap_section_block a:hover h3 {
          color: #fff;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s; }
        .wrapp_block_order .wrpa_3_block_flex .wrap_section_block a img {
          max-width: 100%;
          margin-bottom: 30px; }
        .wrapp_block_order .wrpa_3_block_flex .wrap_section_block a h3 {
          margin: 0px;
          font-family: HelveticaNeueCyr8;
          color: #202020;
          font-size: 16px;
          text-transform: uppercase; }
  .wrapp_block_order .phone_center {
    text-align: center;
    margin-top: 109px; }
    .wrapp_block_order .phone_center a {
      margin: 0px;
      font-family: HelveticaNeueCyr8;
      color: #202020;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none; }

.my_padding_top_40 {
  padding-top: 40px; }

/*конец*/
/*стили для страницы обратной связи*/
.wrapp_content_page_contact_2 {
  padding: 45px 0px;
  background-color: #f0f0f0; }

.none_padding {
  padding: 0px !important; }

.warpp_section_form {
  padding: 0px 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .warpp_section_form .wrap_block_page_form {
    width: 50%; }
    .warpp_section_form .wrap_block_page_form p {
      font-size: 14px;
      padding: 0px 10px 0px 24px;
      margin-bottom: 87px; }
    .warpp_section_form .wrap_block_page_form .wrap_img_page_form img {
      max-width: 100%; }

.text_center {
  text-align: center; }

.width_100 {
  width: 100%;
  margin-top: 56px; }

.wrapp_form {
  display: inline-block; }
  .wrapp_form .wrap_form_title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 18px; }
    .wrapp_form .wrap_form_title .wrap_text_form {
      display: inline-block;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      text-align: left;
      margin-right: 8px;
      font-size: 18px;
      color: #3f3f3f;
      position: relative;
      top: -3px; }
    .wrapp_form .wrap_form_title .wrap_input_form {
      display: inline-block;
      -webkit-box-flex: 2;
      -webkit-flex: 2;
          -ms-flex: 2;
              flex: 2; }
      .wrapp_form .wrap_form_title .wrap_input_form input {
        width: 260px;
        border: 1px solid #cccccc;
        outline: none;
        padding: 5px 10px; }
      .wrapp_form .wrap_form_title .wrap_input_form textarea {
        width: 260px;
        height: 120px;
        border: 1px solid #cccccc;
        outline: none;
        padding: 5px 10px; }

/*.wrapp_form{
	text-align: center;
	.wrap_form_title{
		text-align: right;
		position: relative;
		margin-bottom: 18px;
		display: block;
		.wrap_text_form{
			display: inline-block;
			span{
			display: inline-block;
			position: absolute;
		    left: 0px;
		    top: 0px;
		    font-size: 18px;
		    font-family: HelveticaNeueCyr15;
			}
		}
		.wrap_input_form{
			display: inline-block;
			input{
				width: 260px;
			}
			textarea{
				width: 260px;
				height: 120px;
			}
		}
			
	}
	

}*/
/*конец*/
