@charset "UTF-8";
@media (max-width: 990px) {
  .warpp_section_form .wrap_block_page_form {
    width: 100%; }
    .warpp_section_form .wrap_block_page_form p {
      margin-bottom: 30px; }
    .warpp_section_form .wrap_block_page_form .wrap_img_page_form {
      text-align: center;
      margin-bottom: 30px; }
  .width_100 {
    margin-top: 30px;
    text-align: center; } }

@media (max-width: 450px) {
  .warpp_section_form {
    padding: 0px; }
  .wrapp_form .wrap_form_title .wrap_input_form input {
    width: 100%; }
  .wrapp_form .wrap_form_title .wrap_input_form textarea {
    width: 100%; }
  .wrapp_form .wrap_form_title .wrap_text_form {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 100%; }
  .wrapp_form .wrap_form_title .wrap_input_form {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 100%; } }

@media (max-width: 415px) {
  .My_Block {
    margin-bottom: 15px !important; }
  .title_lavel_two {
    font-size: 15px;
    margin-bottom: 5px; }
  .title_lavel_three {
    margin-bottom: 20px;
    font-size: 18px; }
  .My_Block {
    padding: 40px 10px 40px 10px !important; }
  .paragraph_about {
    font-size: 13px; }
  .img_pribor {
    margin-bottom: 20px; }
  .paragraph_range {
    font-size: 14px; }
  .wrapp_charackteristici {
    margin: 30px 0px 30px 0px !important; }
  .wrapp_button {
    /*padding-bottom: 40px !important;*/ }
    .wrapp_button a {
      padding: 10px 15px 10px 25px !important;
      font-size: 14px !important; }
      .wrapp_button a img {
        margin-left: 15px !important; }
  .wrapp_next_str {
    width: 90% !important; } }

@media (max-width: 480px) {
  /*footer*/
  footer {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding-top: 50px; }
    footer .wrapp-logo-bottom {
      margin-bottom: 20px !important;
      padding-bottom: 20px;
      border-bottom: 1px solid #fff;
      position: relative;
      color: #fff;
      font-size: 18px;
      text-transform: uppercase; }
      footer .wrapp-logo-bottom img {
        padding-right: 20px; }
      footer .wrapp-logo-bottom span {
        position: absolute;
        top: 8px; }
    footer .wrapp-perent-legal-info {
      text-align: left; }
      footer .wrapp-perent-legal-info .wrapp-legal-info {
        margin-bottom: 20px !important;
        border-bottom: 1px solid #fff;
        margin: 0 auto;
        width: 100% !important; }
        footer .wrapp-perent-legal-info .wrapp-legal-info p {
          margin-bottom: 15px; }
          footer .wrapp-perent-legal-info .wrapp-legal-info p a {
            text-decoration: none;
            outline: none;
            color: #fff;
            font-size: 14px;
            font-family: HelveticaNeueCyr8; }
    footer .wrapp-legal-adres .title-legal-adres {
      padding-bottom: 15px; }
  /*end footer*/
  .all-partners-text {
    padding-top: 2px; }
  .wrapp-partners .wrapp-text-partners {
    width: 100%; }
  .wrapp-partners .wrapp-content-portners .wrapp-cartochi-portners {
    padding: 8% 8% 0% 8% !important; }
  .wrapp-partners .wrapp-content-portners .wrapp-bottom-cartochi-portners {
    margin: 0 auto 45px;
    padding: 7% 5% 7% 5%; }
    .wrapp-partners .wrapp-content-portners .wrapp-bottom-cartochi-portners a {
      padding: 10px 10px; }
  .slick-initialized .slick-slide {
    display: block; }
  .wrapp-img-slaid img {
    padding-bottom: 13px;
    width: 82%;
    margin: 0 auto; } }

@media (max-width: 450px) {
  .wrapp_block_order .wrpa_3_block_flex .wrap_section_block {
    width: 95% !important;
    margin-bottom: 20px; }
  .wraper-deskription-slaider .wrapp-button-slaider a {
    padding: 4px !important; }
    .wraper-deskription-slaider .wrapp-button-slaider a span {
      padding-left: 2px !important; }
  .wraper-deskription-slaider .deskription-slaider {
    font-size: 9px !important;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .title-slaider-text {
    font-size: 12.5px !important;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; } }

@media (max-width: 500px) {
  .tabel_blok {
    font-size: 12px !important; }
  .wrapp_section_name {
    width: 46% !important; }
  .wrapp_section_block {
    width: 27% !important; }
  .wrapp_Send_an_application a {
    top: -15px !important; } }

@media (max-width: 520px) {
  .wrapp_Send_an_application a {
    font-size: 14px;
    padding: 10px; }
    .wrapp_Send_an_application a span img {
      padding-left: 5px; }
  .wrapp_next_str {
    padding: 10px 0px; } }

@media (max-width: 620px) {
  .wrapp_Send_an_application {
    width: 100%; } }

@media (max-width: 600px) {
  .tabel_blok {
    font-size: 14px; }
  .wrapp_block_order {
    padding: 40px 0px 50px 0px; }
    .wrapp_block_order .wrpa_3_block_flex .wrap_section_block {
      width: 51%;
      margin-bottom: 20px; }
    .wrapp_block_order .phone_center {
      margin-top: 30px; } }

@media (max-width: 650px) {
  .wrapp-all-produkt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .wrapp-all-produkt .desckriptions-produkt {
      width: 100% !important;
      right: 0px !important; }
    .wrapp-all-produkt .cetegori-produkt {
      width: 100% !important; }
  .wrapp-click-serch input {
    width: 50%; }
  .wrapp-click-serch .click-serch button {
    right: 24%; }
  .wrapp-privu .privu p {
    width: 100%; }
  /*slaider*/
  .logo-partner {
    width: 90px; }
  .title-slaider-text {
    font-size: 14.5px !important;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .wraper-deskription-slaider .deskription-slaider {
    font-size: 10px !important;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  /*end slaider*/ }

@media (max-width: 563px) {
  .wrap_contact_info .wrap_block_contact_info .wrap_block_info {
    width: 100%; }
  .wrap_contact_info .wrap_block_contact_info .wrap_block_info:first-child {
    text-align: center; }
  .wrap_content_text {
    padding: 25px 0px 25px 0px; }
  .wrap_content_text .wrap_title_page {
    padding-bottom: 20px; }
    .wrap_content_text .wrap_title_page h1 {
      padding-bottom: 20px; } }

@media (min-width: 650px) {
  .wrapp-privu .privu p {
    width: 495px; }
  /*slaider*/
  /*end slaider*/ }

@media (max-width: 710px) {
  .wrapp_section_name {
    width: 30%; }
  .wrapp_section_block {
    width: 35%; } }

@media (max-width: 750px) {
  .wrapp_Send_an_application {
    text-align: center; }
  .wrapp_next_str {
    position: relative;
    width: 70%; }
    .wrapp_next_str span {
      position: absolute; }
      .wrapp_next_str span:first-child {
        left: 0px; }
      .wrapp_next_str span:last-child {
        right: 0px; }
  .wrapp_Send_an_application a {
    position: relative;
    top: -25px; }
  .my_otst_ot_button_80 {
    padding-bottom: 20px; }
  .my_otst_ot_button {
    padding-top: 20px; }
  .my_border_left {
    border: 0px !important; }
    .my_border_left h6 {
      margin-top: 40px; }
    .my_border_left .my_wrap_teh_top_right nav {
      text-align: center; }
  .my_wrapp_title_desk_zag_2 {
    margin: 40px 0px 10px 0px !important; }
  .my_wrapp_title_desk_zag {
    margin: 10px 0px !important; }
  .line_text2 {
    margin: 5px 0px 20px 0px !important; }
  .img_pribor {
    position: relative;
    top: 0px; }
  .wrapp_charackteristici_boss {
    width: 100%;
    text-align: left;
    padding-bottom: 20px; }
  .My_Block {
    padding: 75px 10px 60px 10px; }
  /*footer*/
  footer {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding-top: 50px; }
    footer .wrapp-logo-bottom {
      margin-bottom: 20px !important;
      position: relative;
      color: #fff;
      font-size: 18px;
      text-transform: uppercase; }
      footer .wrapp-logo-bottom img {
        padding-right: 20px; }
      footer .wrapp-logo-bottom span {
        position: absolute;
        top: 8px; }
    footer .wrapp-perent-legal-info {
      text-align: left; }
      footer .wrapp-perent-legal-info .wrapp-legal-info {
        margin-bottom: 20px !important;
        margin: 0 auto;
        width: 100% !important; }
        footer .wrapp-perent-legal-info .wrapp-legal-info p {
          margin-bottom: 15px; }
          footer .wrapp-perent-legal-info .wrapp-legal-info p a {
            text-decoration: none;
            outline: none;
            color: #fff;
            font-size: 14px; }
    footer .wrapp-legal-adres .title-legal-adres {
      padding-bottom: 15px; }
  /*end footer*/
  /*Стили для */
  .media-distop-none {
    display: none; }
  /*slaider*/
  /*end slaider*/
  .wrapp-bottom-cartochi-portners {
    padding: 5% !important; }
    .wrapp-bottom-cartochi-portners a {
      padding: 10px 10px !important; }
      .wrapp-bottom-cartochi-portners a span {
        padding-left: 0px !important; } }

@media (max-width: 765px) {
  .title_lavel_three {
    text-align: center; }
  .wrapp_img_end_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .img_pribor {
    margin-bottom: 40px;
    max-width: 100%;
    height: auto; } }

@media (max-width: 800px) {
  .global-wrap-slaider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .wrapp-img-slaid {
    padding-top: 0px !important; }
    .wrapp-img-slaid img {
      width: 100%; }
  /*slaider*/
  .logo-partner {
    padding-bottom: 10px; }
  .wraper-title-slaider .title-slaider-text {
    padding-bottom: 10px;
    font-size: 18.5px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .wraper-deskription-slaider .deskription-slaider {
    padding-bottom: 10px; }
  .wraper-deskription-slaider .wrapp-button-slaider {
    padding-bottom: 20px; }
    .wraper-deskription-slaider .wrapp-button-slaider a {
      font-size: 12.53px;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      padding: 10px 16px; }
  /*end slaider*/ }

@media (min-width: 750px) {
  /*Стили для */
  .wrapp-serch {
    display: block; }
  .media-mobile-none {
    display: none; }
  .wrapp-mobail-menu {
    display: none; }
  /*slaider*/
  /*end slaider*/ }

@media (max-width: 990px) {
  .wrap_block_info {
    width: 50%; }
  .wrap_teh_top_left nav ul {
    right: 0px !important; } }

@media (max-width: 950px) {
  .tabel_name {
    padding: 0px 5px 0px 6px !important; } }

@media (max-width: 978px) {
  .wrapp_flex_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px; }
  .wrapp_img img {
    padding-bottom: 10px; }
  .wrapp_block_teh {
    padding-top: 20px; }
  .text_title_page {
    margin-bottom: 40px !important; }
  /*@media блок новости*/
  .wrapp-news .wrapp-title-block {
    text-align: center; }
  .wrapp-news .wrapp-text-news p {
    text-align: justify; }
  .wrapp-news .wrapp-button-news {
    text-align: center;
    width: 100%; }
  /* END @media блок новости*/
  .wrapp-content-portners {
    display: block !important; }
  .wrapp-serch {
    display: none; }
  .wrapp-click-serch {
    position: absolute;
    width: 100%;
    top: -100px;
    padding: 40px 0px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .serch-open {
    top: 70px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  /*slaider*/
  .wraper-deskription-slaider .deskription-slaider {
    font-size: 12px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  /*end slaider*/
  .all-partners-text {
    text-align: center !important;
    padding-bottom: 30px !important;
    padding-top: 30px; }
  .all-partners-button {
    display: -webkit-inline-box !important;
    display: -webkit-inline-flex !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    text-align: center !important;
    padding-bottom: 30px; } }

@media (min-width: 978px) {
  .wrap-serch-destop {
    display: none; }
  .wrapp-click-serch {
    display: none; } }

@media (max-width: 1190px) {
  .tabel_name {
    font-size: 10px !important; } }

@media (max-width: 1170px) {
  .wrapp-watch-all-partners .watch-all-partners .all-partners-text {
    width: 100%; }
  .wrapp-partners .wrapp-text-partners {
    width: 100% !important; }
  .wrapp-bottom-cartochi-portners {
    padding: 8% 5% 8% 5%; }
    .wrapp-bottom-cartochi-portners a {
      padding: 10px 10px !important; }
      .wrapp-bottom-cartochi-portners a span {
        padding-left: 0px !important; } }

@media (min-width: 1170px) {
  /*slaider*/
  /*end slaider*/ }

@media (max-width: 1314px) {
  /*footer*/
  footer {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding-top: 50px; }
    footer .wrapp-logo-bottom {
      position: relative;
      color: #fff;
      font-size: 18px;
      text-transform: uppercase; }
      footer .wrapp-logo-bottom img {
        padding-right: 20px; }
      footer .wrapp-logo-bottom span {
        position: absolute;
        top: 8px; }
    footer .wrapp-perent-legal-info {
      text-align: left; }
      footer .wrapp-perent-legal-info .wrapp-legal-info {
        margin: 0 auto;
        width: 60%; }
        footer .wrapp-perent-legal-info .wrapp-legal-info p {
          margin-bottom: 15px; }
          footer .wrapp-perent-legal-info .wrapp-legal-info p a {
            text-decoration: none;
            outline: none;
            color: #fff;
            font-size: 14px; }
    footer .wrapp-legal-adres .title-legal-adres {
      padding-bottom: 15px; }
  /*end footer*/ }

@media (min-width: 1550px) {
  .wraper-deskription-slaider {
    width: 69%; }
    .wraper-deskription-slaider .deskription-slaider {
      width: 100%; } }

@media (min-width: 1674px) {
  .wrapp-button-slaider {
    width: 90%; }
  /*slaider*/
  /*end slaider*/ }
