$bgtopmenu: #151a1f ; /*Пример обьявления переменной*/
$colortextmenu: #fff;
$bgbtnserch: #17485a;
$hovercolormenu: #5fb2cb;
$btnheader: #26738f;
$bgpodmenu: #141a27;
$bgbtnprivu: #166274;
$bgbtnprivuhover: #216ba2;
$bgsectionpartners: #f0f0f0;
$bgsectionpartnerstitle: #8f8989;
$bgfooter:#272c31;
$footer_button_zakaz: #6c393c !important;
$colorBottommenu: #697179;
$button_zakaz: #f04565;
$line_color: #a0daf0;

/*Шрифты*/
$HelveticaNeueCyr1: HelveticaNeueCyr1;

$HelveticaNeueCyr8 : HelveticaNeueCyr8;

$HelveticaNeueCyr5: HelveticaNeueCyr5;

$HelveticaNeueCyr15: HelveticaNeueCyr15;

$HelveticaNeueCyr7: HelveticaNeueCyr7;

$HelveticaNeueCyr11: HelveticaNeueCyr11;
/*Конец шрафтов*/

/*Кнопка которую можно использовать*/
.wrapp_Send_an_application{
	text-align: right;
    width: 90%;
    margin: 0 auto;
    padding: 15px 0px;
	a{
		background-color: #216ba2;
		color: #fff;
		padding: 15px 23px 15px 26px;
		margin: 15px 0px;
		text-decoration: none;
		font-size: 20px;
		font-family: HelveticaNeueCyr8;
		border-radius: 30px;
		    transition: .5s;
		&:hover{
			background-color:#166274;
			    transition: .5s;
		}
		span{
			img{
				padding-left: 17px;
			}
		}
	}
}
/*конец*/

/*начало прилоадер*/
.preloader{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #166274;
	z-index: 100000000;
	transition: 1s all;
	opacity: 1;
	visibility: visible;

.children-preloader{
	position: absolute;
	width: 100px;
	height: 100px;
	border-top: 10px solid #fff;
	border-bottom: 10px solid #3ec4e4;
	border-left: 10px solid #3ec4e4;
	border-right: 10px solid #3ec4e4;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: 1s spin infinite linear;
	box-shadow: 0px 0px 31px 0px rgba(62,196,228,1);

}
&.done{
	opacity: 0;
	visibility: hidden;
}

span{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	color: #fff;
	}
}

@keyframes spin{
	from{
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to{
		transform: translate(-50%, -50%) rotate(360deg);
	}
}



/*конец прилоадер*/

.all-btn{
	font-size: 15.53px;
	color:#fff;
	font-family: HelveticaNeueCyr15;
	text-decoration: none;
	outline: none;
	border: 1px solid #fff;
	border-radius: 30px;
	padding: 16px 22px;
	transition: .5s;
	&:hover{
		transition: .5s;
	}
	span{
		padding-left: 9px;
	}
}


/*Кнопка сделать заказ*/

.wrapp_button_zakaz{
	position: relative;
    top: -2px;
	ul{
		padding:0px !important;
	}
}
.wrapp-menu-destop{
	.button_zakaz{
	color: $button_zakaz;
	&:hover{
		color:#33d4fa;
	}
}
}
.wrapp_button_zakaz{
	.button_zakaz{
	color: $button_zakaz;
	&:hover{
		color:#33d4fa;
	}
}
}

.button_zakaz{
    font-size: 14.5px;
    font-family: $HelveticaNeueCyr8;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s;
    &:hover{
    	text-decoration: none;
    	
    }
    &:focus{
    	text-decoration: none;
    }
}

/* Конец кнопки сделать заказ*/

.my-padding-row{
    padding-left: 15px;
    padding-right: 15px;
}
body{
	position: relative;
	min-width: 320px;
	.wrapp-mobail-menu{
		position: absolute;
		padding-top: 42px;
		z-index: 10;
		width: 100%;
		min-width: 150px;
	    top: -308px;
	   	text-align: right;
	    background-color: #172136;
	    transition: .5s;
		nav{
			ul{
				padding: 0px;
				margin: 0px;
				padding-top: 27px;
				padding-bottom: 1px;
				li{
					text-align: right;
					padding: 20px 35px;
					list-style-type: none;
					border-bottom: 1px solid;
					&:first-child{
						border-top: 1px solid;
					}
					a{
						color: $colortextmenu;
						font-size: 14.5px;
						font-weight: 600;
						text-transform: uppercase;
						text-decoration: none;
						transition: .5s;
					}
				}
			}
		}
	}
	.menu-min{
		top: 10px !important;
		transition: .5s;
		z-index: 100;
	}
}
.activ{
	color: $hovercolormenu;
}

.p-0{
	padding: 0px;
	width: 100%;
	margin: 0 auto;
}

/*При клике добавляеться к click-heid*/

 .activ-mobail-menu{
 	.icon-bar2-top{
 		opacity: 0 !important;
     	transition: .2s;
     } 
     .icon-bar2-top-none{
 		transform: rotate(-42deg);
    	position: relative;
    	top: 10px;
		opacity: 1 !important;
		transition: .5s;
			     }
     .icon-bar2-center{
     	opacity: 0 !important;
     	transition: .2s;
     } 
     .icon-bar2-bottom-none{
		opacity: 1 !important;
		transition: .5s;
		position: relative;
		top: -6px;
		transform: rotate(39deg);
			     }
     .icon-bar2-bottom{
    	opacity: 0 !important;
     	transition: .2s;
     } 

    }
    	

.text-righet{
	text-align: right;
}
.wrapp-fix-menu-scrol{
	/*width: 100%;
	position: fixed;
	z-index: 10000;
	transition: .7s;*/
}

header{
	width: 100%;
	position: fixed;
	z-index: 10000;
	transition: .7s;
	background-color: $bgtopmenu;
    .bg-color{
    	position: relative;
    	z-index: 100;
    	background-color: $bgtopmenu;
    	padding-top: 20px;
    	padding-bottom: 20px;
    	padding-left: 15px;
    	padding-right: 15px;

    	.media-mobile-none{
    		position: relative;
    		.btn-click-heid-menu{
    			position: relative;
    			z-index: 1000;
    			text-align: right;
    			display: inline-block;
    			.icon-bar2{
					border-bottom: 2px solid #fff;
				    border-top: 2px solid #fff;
				    border-radius: 10px;
	                width: 28px;
	                display: block;         
	                cursor: pointer;
    			}
    			.icon-bar2-top{
    				opacity: 1;
			     	transition: .7s;
			     } 
			     .icon-bar2-top-none{
			     	opacity: 0;
			     }
			     .icon-bar2-center{
			     	opacity: 1;
			     	margin: 4px 0px;
			     	transition: .7s;
			     } 
			     .icon-bar2-bottom-none{
			     	opacity: 0;
			     }
			     .icon-bar2-bottom{
			     	opacity: 1;
			     	transition: .7s;
			     }

    		}
    	}
    }
    .logo-top{
    	a{
    		img{
    			padding-top: 4px;
    		}
    	}
    }
    .wrapp-menu-destop{
    	text-align: left;
    	nav{
    		display: inline-block;
    		ul{
    			display: inline-block;
    			padding: 4px 0px;
    			margin: 0px;
    			li{
    				display: inline-block;
    				padding: 0px 15px;
    				a{
    					font-family: $HelveticaNeueCyr8;
						color: $colortextmenu;
						font-size: 14.5px;
						text-transform: uppercase;
						text-decoration: none;
						transition: .5s;
						&:hover{
							color:$hovercolormenu;
							transition: .5s;
						}
    				}
    			}
    		}
    	}
    }
    .wrap-serch-destop{
    	position: relative;
    	top: 0px;
    }
    .wrap-serch-mobail{
    	position: relative;
    	top: -8px;
    	right: 10px;
    }
    .wrapp-serch{
    	text-align: right;
    	position: relative;
    	span{
			input{
				text-decoration: none;
				outline:none;
				background-color: #fff;
				border-radius: 20px;
				border: none;
				height: 25px;
				padding: 14px 41px 14px 13px;
				width: 200px;
				font-size: 14.5px;
	    		letter-spacing: 1px;
				
			}
			button{
					background-color:  $btnheader;
				    text-decoration: none;
				    outline: none;
				    border: none;
				    padding: 5px 13px;
				    border-radius: 15px;
				    position: absolute;
				    right: -1px;
				    top: -1px;
				    z-index: 10000;
				    transition: .5s;
				    &:hover{
				    	background-color:$bgbtnserch !important;
						transition: .5s;	
				    }
				img{

				}
			}
    	}
    }
}
.btn-mobail-distop{
	background-color:  $btnheader;
	text-decoration: none;
    outline: none;
    border: none;
    padding: 5px 13px;
    border-radius: 15px;
    transition: .5s;
	&:hover{
	    	background-color:$bgbtnserch !important;
			transition: .5s;	
	    }
}

.wrapp-click-serch{
	text-align: center;
	background-color: $bgpodmenu;
	z-index: 99;
	input{
		text-decoration: none;
		outline:none;
		background-color: #fff;
		border-radius: 20px;
		border: none;
		height: 25px;
		padding: 14px 41px 14px 13px;
		width: 39%;
		font-size: 14.5px;
		letter-spacing: 1px;
		
	}
	.click-serch{
		position: relative;
		button{
			background-color:  $btnheader;
		    text-decoration: none;
		    outline: none;
		    border: none;
		    padding: 5px 21px;
		    border-radius: 15px;
		    position: absolute;
		    right: 30.4%;
		    top: -1px;
		    z-index: 10;
		    transition: .5s;
		    &:hover{
		    	background-color:$bgbtnserch !important;
				transition: .5s;	
		    }
		}
	}

}

.wrapp-privu{
	background: url(../img/bgTop.jpg) 100% 100% no-repeat;
    background-size: cover;
    .privu{
    	padding-top: 142px;
    	padding-bottom: 175px;
    	p{
    		font-size: 20.12px;
    		color: #fff;
    		font-family: $HelveticaNeueCyr5;
    		text-transform: uppercase;
    		margin: 0px;
    		padding: 20px 0px 36px 0px;
    		letter-spacing: 1px;
    		word-spacing: 2px;
    	}
    	a{
    		font-size: 15.53px;
    		color:#fff;
    		font-family: $HelveticaNeueCyr15;
    		background-color: $bgbtnprivu;
    		text-decoration: none;
		    outline: none;
		    border: 1px solid #fff;
		    border-radius: 30px;
		    padding: 16px 22px;
		    transition: .5s;
		    &:hover{
		    	transition: .5s;
		    	background-color : $bgbtnprivuhover;
		    }
			span{
				padding-left: 9px;
			}

    	}
    }
}
.wrapp-slider{
	background: url(../img/bgslaider.png) 100% 100% no-repeat;
    background-size: cover;
    .title-slider{
    	font-size: 20.04px;
    	color: $colortextmenu;
    	text-align: center;
    	font-family: $HelveticaNeueCyr15;
    	margin: 0px;
    	padding: 15px 0px 25px 0px;
    }
}

.for_padding33{
	padding-top: 33px;
}

.logo-partner{
	width: 110px;
	display: inline-block;
	padding-bottom: 25px;
	img{
		width: 100%;
	}
}
.wraper-title-slaider{
	.title-slaider-text{
		font-size: 21.5px;
		color: $colortextmenu;
		font-family: $HelveticaNeueCyr11;
		text-transform: uppercase;
		margin: 0px;
		padding-bottom: 25px;
	}
}

.wraper-deskription-slaider{
	.deskription-slaider{
		margin: 0px;
		font-size: 14.37px;
		color: $colortextmenu;
		font-family: $HelveticaNeueCyr11;
		
		padding-bottom: 30px;
	}
	.wrapp-button-slaider{
		padding-bottom: 30px;
		text-align: right;
		a{
			font-size: 15.53px;
    		color:#fff;
    		background-color: $bgbtnprivu;
    		font-family: HelveticaNeueCyr15;
    		text-decoration: none;
		    outline: none;
		    border: 1px solid #fff;
		    border-radius: 30px;
		    padding: 16px 22px;
		    transition: .5s;
		    &:hover{
				transition: .5s;
		    	background-color : $bgbtnprivuhover;
		    }
		    span{
		    	 padding-left: 9px;
		    }
		}
	}
}

.wrapp-slider{
	.wrapp-img-slaid{
		padding-top: 0px;
		text-align: center;
	}
	.wrapp-deskription-pribor{
		text-align: center;
		.deskription-pribor{
			width: 84%;
			text-align: left;
			display: inline-block;
			/*.logo-partner{
				width: 110px;
				img{
					width: 100%;
				}
			}*/
		}
	}
}

.slick-slide{
	img{
		display: inline-block;
	}
}
/*слайдер*/
.main{
	display: flex;
    align-items: center;
}

.slick-dotted{
	.slick-slider{
		padding-bottom: 20px;
	}
}

 .global-wrap-slaider{
 	outline: none !important;
    display: flex;
    align-items: center;
    justify-content: space-around;

  }
 
.slick-initialized .slick-slide{
	.slick-slide{
		display: flex !important;
	}
}
/*секция партнёры*/
.wrapp-partners{
	background-color: $bgsectionpartners;
	.partners-title-block{
		text-align: center;
		font-size: 20.04px;
		color: #383838;
		font-family: HelveticaNeueCyr15;;
		padding: 25px;
		text-transform: uppercase;
    	font-weight: 900;
	}
	.wrapp-content-portners{
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin-bottom: 20px;
		.wrapp-cartochi-portners{
			background-color: #fff;
			padding: 5% 5% 0% 5%;
			margin-bottom: 17px;
			border-top-right-radius: 40px;
    		border-top-left-radius: 40px;
			margin: 0 auto ;
			border: 1px solid #eee;
			.wrapp-logo-partners-img{
				display: inline-block;
				width: 37%;
				height: 26px;
				margin-left: 11px;
    			margin-top: 11px;
				img{
				width: 100%;
				}
			}
		}
		.wrapp-bottom-cartochi-portners{
		background-color: #fff;
			padding: 10% 5% 11% 5%;
			border-bottom-right-radius: 40px;
    		border-bottom-left-radius: 40px;
			border: 1px solid #eee;
			text-align: center;
			a{
				font-size: 15.53px;
	    		color:#fff;
	    		font-family: HelveticaNeueCyr8;
	    		background-color: $bgbtnprivu;
	    		text-decoration: none;
			    outline: none;
			    border: 1px solid #fff;
			    border-radius: 30px;
			    padding: 9px 12px 9px 10px;
			    transition: .5s;
			    &:hover{
			    	transition: .5s;
			    	background-color : $bgbtnprivuhover;
			    }
			    span{
			    	padding-left: 7px;
			    }
			}
		}
	}

	.wrapp-name-partners{
		color: #000;
		font-size: 21.5px;
		font-family: HelveticaNeueCyr5;
    	padding: 15px 0px;
    	padding-left: 10px;
	}
	.wrapp-text-partners{
		color: #000;
		font-size: 14.5px;
		font-family: HelveticaNeueCyr5;
    	margin-left: 10px;
    	padding-bottom: 70px;
    	width: 80%;
    	
	}
}

.wrapp-bottom-cartochi-portners{
margin: 0 auto 17px;
}

.wrapp-watch-all-partners{
	    text-align: center;
	.watch-all-partners{
		display: inline-block;

		.all-partners-text{
			width: 80%;
			padding-bottom: 60px;
			font-size: 24.12px;
			color: #1c1c1c;
			text-align: left;
			font-family: HelveticaNeueCyr15;
		}
		.all-partners-button{
			text-align: right;
			a{
				font-size: 15.53px;
	    		color:#fff;
	    		font-family: HelveticaNeueCyr15;
	    		background-color: $bgbtnprivu;
	    		text-decoration: none;
			    outline: none;
			    border: 1px solid #fff;
			    border-radius: 30px;
			    padding: 16px 22px;
			    transition: .5s;
			    &:hover{
			    	transition: .5s;
			    	background-color : $bgbtnprivuhover;
			    }
			    span{
			    	padding-left: 9px;
			    }
			}
		}
	}
}
/*конец секция партнёры*/
/*Блок новости*/
.bg-news{
	background: url(../img/newBg-min.png) 100% 100% no-repeat;
    background-size: cover;	
}
.wrapp-news{
	padding: 45px 0px;
	.wrapp-title-block{
		p{
			font-size: 48px;
			color: #fff;
			font-family: HelveticaNeueCyr15;
			margin: 0px;
		}

		}
		.wrapp-text-news{
			p{
				font-size: 16px;
				color: #fff;
				font-weight: 100;
				text-transform: lowercase;	
				font-family: HelveticaNeueCyr5;
				margin: 0px;
				padding: 40px 0px;
			}
			
	}
	.wrapp-button-news{
		height: auto;
	    text-align: right;
	    width: 80%;
	    padding-top: 16px;
    	padding-bottom: 45px;
				a{	
					background-color: $bgbtnprivu;
					text-decoration: none;
			    	outline: none;
			    	color: #fff;
					&:hover{
						background-color : $bgbtnprivuhover;
					}
				}
			}
}
/*конец блока новости*/












/*стили страницы все партнёры*/
.wrapp-vlojenost{
	background-color: $bgsectionpartners;
}
.wrapp-menu-vlojenost{
	nav{
		ul{
			margin: 0px;
			padding: 30px 15px;
			li{
				font-size: 11px;
				text-transform: uppercase;
				display: inline-block;
				
				a{
					font-size: 11px;
					text-transform: uppercase;
					display: inline-block;
					color: #bfbfbf;
					text-decoration: none;
					span{
						i{
							font-size: 10px;
							color: #c4c4c4;
							padding: 0px 7px;
						}
					}
				}
				&:last-child{
					a{	
						border-bottom: 1px solid #00aeef;
						cursor: default; 
						color: #949494;
						span{
							i{
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
.block_for_padding25x60{
	padding-top: 25px;
	padding-bottom: 60px;
}

.wrap_main_block{
	.wrapp-bottom-cartochi-portners{
		margin-bottom: 40px;
	}
}
.line{
	margin: 0 auto;
	height: 1px;
	border-top: 1px solid #bababa;
}
.line_width80{
	padding-top: 10px;
	padding-bottom: 50px;
	width: 68%;
}


.My_Block{
	background-color: white;
	padding: 75px 60px 60px 60px;
	margin-bottom: 50px;
	.wrapp_button{
		padding-bottom: 0px;
		text-align: right;
		a{
			/*background-color: #216ba2;
			font-size: 27px;
			text-decoration: none;
			color: #fff;*/
			font-size: 17px;
    color: #fff;
    font-family: HelveticaNeueCyr8;
    background-color: #216ba2;
    text-decoration: none;
    outline: none;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 10px 20px 10px 35px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    img{
    	margin-left: 40px;
    }
		}
    }
	}

.wrapp_img_end_text{
	display: flex;
	align-items: center;
}

.wrapp_charackteristici{
		display: inline-block;
	}

.title_lavel_two{
	text-align: center;
	font-size: 25px;
	margin-bottom:15px;
	margin-top: 0px;
	font-weight: 500;
	font-family: HelveticaNeueCyr8;
	.line{
		width: 80px;
		background: #00aeef;
		border: 1px solid #00aeef;
		margin-bottom: 20px;

	}
}
/*.lain{
	text-align: center;
	span{
		width: 80px;
		height: 1px;
		background: #00aeef;
	}
}*/

.wrapp_charackteristici_boss{
	width: 50%;
	text-align: center;
	margin: 0px;
}

.flexbox{
	display: flex;
    align-items: center;
}


.margine_for_img{
	text-align: center;
}

.title_lavel_three{
	font-weight: 600;
	margin: 0px 0px 20px 0px;
	font-size: 20px;
}
.paragraph_about{
	font-size: 16px;
	font-family: HelveticaNeueCyr8;
    letter-spacing: -1px;
    line-height: 25px;
}

.paragraph_range{
	text-align: left;
	font-size: 16px;
	font-weight: 700;
	color: #060c4a;
	margin: 0px;
	font-family: HelveticaNeueCyr8;
}

.cnooka{
	
}



/*Конец стили страницы все партнёры*/




/*стили страницы все тектроникс*/

.my_center{
	text-align: center;
}
.img_pribor{
	position: relative;
	top: -40px;
}
.wrapp-vlojenost-tektronix{
	background-color: $bgsectionpartners;
}
.block_for_padding25x150{
	padding-top: 55px;
    padding-bottom: 150px;
}

.wrapp-all-produkt{
	padding: 60px 0px;
}
.wrapp-all-produkt{
	display: flex;
    align-items: center;
    .desckriptions-produkt{
    	padding: 40px 70px 70px 30px;
    	width: 51%;
    	position: relative;
    	right: -10px;
    	background: #fff;
    	.wrapp-img-tektronik{
    		img{
    			width: 170px;
    			padding-bottom: 	20px;
    			border-bottom: 1px solid #1ee1d1;
    		}
    	}
    	.wrapp-deskripteons-text{
    		p{
    			text-align: justify;
    			font-size: 12px;
    			font-family: $HelveticaNeueCyr8;
    			padding-top: 15px;
    			color: #434242;
    		}
    	}
    }
    .cetegori-produkt{
    	padding: 35px 15px;
    	width: 50%;
    	background-image: url(../img/fon_desk_menu.png);
    	background-repeat: no-repeat;
    	background-position: center center;
    	background-size: cover;
    	text-align: center;
    	.activ_produckt_tektronix{
    		a{
    			color: #093b73;
    			&:before{
    				content:"";
    				border: 1px solid #fff;
    				background-color: #093b73;
    			}
    		}
    		
    	}
    	h2{
    		display: inline-block;
    		font-size: 20px;
    		font-family: $HelveticaNeueCyr8;
    		text-align: center;	
    		margin-bottom: 25px;
    		padding-bottom: 20px;
    		border-bottom: 1px solid #e3e2e1;
    		color: 	#fff;	

    	}
    	nav{

    		ul{
    			padding: 0px;
    			text-align: left;
    			li{
    				list-style-type: 	none;
    				padding: 10px 0px;
    				position: 	relative;
    				transition: 1s;	
    				font-size: 19px;
    				span{
    					width: 10px;
    					height: 10px;
    					position: relative;
    					border-radius: 50%;
    					border: 1px solid #fff;
    				}
    				a{
						font-size: 	16px;
						font-weight: 700;
						color: 	#fff;
						text-decoration: none;
						&:before{
    					content:"";
	    				width: 10px;
		    			height: 10px;
		    			border: 1px solid #fff;
		    			border-radius: 50%;
	    				display: inline-block;
	    				left: -20px;
	    				top: 16px;	
	    				transition: 1s;
	    				margin: 0px 25px;
    				}
    				&:hover{
    					color: #093b73;
    					transition: 1s;
    					 &:before{
								background-color: 	#093b73;
								transition: 1s;
    					 }
    				}	
    				}
    			}
    		}
    	}
    }
}
/*Конец стили страницы все тектроникс*/

/*страница продукта*/

.chet{
	background-color: #e2f5fd;
}

.my_prioritet{
	.ul_product_page{
	padding: 30px 15px 50px 15px;
}
}

.wrapp_product_body{
	background-color: #f0f0f0;
	.bg_big_contener{
		/*padding: 0px 60px;*/
		background-color: #fff;
		.wrapp_title_page{
			padding: 35px 0px 0px 0px;
			.text_title_page{
				text-align: center;
			    font-size: 30px;
			    margin-bottom: 70px;
			    margin-top: 0px;
			    font-weight: 500;
			    font-family: HelveticaNeueCyr8;
			}
		}
		.wrapp_title_page_geria{
			p{
				text-align: center;
				font-size: 20px;
				font-weight: 600;
				font-family: HelveticaNeueCyr8;
				padding: 0px;
				margin: 0px;
			}
		}
	}
	.wrapp_img_product{
		text-align: right;
	}
	.wrapp_big_desk_project{
		text-align: center;
	.wrapp_desk_project{
		display: inline-block;
		max-width: 412px;
		p{
			text-align: left;
			font-size: 16px;
			font-weight: 500;
			font-family: HelveticaNeueCyr8;
		}
	}
}
}
.wrapp_flex_block{
	display: flex;
	padding-top: 37px;
	align-items: center;
	.wrapp_img{
		flex: 4;
		text-align: right;
		img{
			max-width: 100%;
			position: relative;
		}
	}
	.wrapp_description{
		flex: 5;
		text-align: center;
		.wrapp_product_p{
			display: inline-block;
			max-width: 412px;
			p{
				text-align: left;
				font-size: 16px;
				font-weight: 500;
				font-family: HelveticaNeueCyr8;
				margin: 0px;
			}
		}
	}
}

.wrapp_block_teh{
	text-align: left;
	padding-top: 37px;
	.wrapp_text_teh{
		display: inline-block;
		p{
			text-align: left;
		    font-size: 16px;
		    font-weight: 700;
		    color: #060c4a;
		    margin: 0px;
		    font-family: HelveticaNeueCyr8;
		}
	}
}

.wrapp_info_table_har{
	text-align: center;
	margin-top: 100px;
	.wrapp_title_description_text{
		/*display: inline-block;*/
		margin:0 auto;
		width: 90%;
		.title_deskription_text{
			font-size: 14px;
			text-transform: uppercase;
			font-family: HelveticaNeueCyr8;
			margin: 0px;
			font-weight: 100;
			text-align: left;
		}
		.line_text{
			border-bottom:1px solid $line_color; 
			width: 80px;
			text-align: left;
			margin: 5px 0px 10px 0px ;
		}
		.line_text2{
			border-bottom:1px solid $line_color; 
			width: 188px;
			text-align: left;
			margin: 5px 0px 54px 0px ;
		}
		.my_otst2{
			padding-top: 40px;
		}
		.big_wrapp_tabl{
			    display: flex;
    			flex-direction: column;
    			text-align: left;
    			border: 1px solid #cccccc;
		.wtapp_table{
			align-items:center;
			display: flex;
			height: 70px;
			.tabel_name{
				width: 100%;
				text-align: left;
				font-size: 12px;
				font-weight: 600;
				padding: 0px 14px 0px 6px;
				
			}
			.tabel_blok{
				width: 100%;
				text-align: center;
				font-size: 16px;
    			font-weight: 600;
    			font-family: HelveticaNeueCyr8;
				/*padding: 27px 0px;*/
				
			}
		}
	}
	}
}

.wrapp_section_name{
	width: 20%;
	height: 70px;
	display: flex;
    align-items: center;
    border-right: 1px solid #cccccc;
}

.wrapp_section_block{
	width: 40%;
	height: 70px;
	display: flex;
    align-items: center;
    &:last-child{
					border-left: 1px solid #cccccc;
				}
}
	.my_border_left{
	border-left: 1px solid #ccc;
}
.my_wrapp_title_desk_zag{
	margin: 10px 0px 45px 0px;
		text-align: center;
}
.my_wrapp_title_desk_zag_2{
	margin: 80px 0px 30px 0px;
	text-align: center;

}
	.wrapp_title_desk_zag{
		
		h6{
			text-align: center;
		    font-size: 14px;
			text-transform: uppercase;
			font-family: HelveticaNeueCyr8;
			margin: 0px;
			font-weight: 100;
		}
		div{
			display: inline-block;
			width: 32px;
			border-bottom:1px solid $line_color; 
			padding-top: 8px;
			font-family: HelveticaNeueCyr8;

		}
	}
	.wrap_teh_top_left{
		nav{
			text-align: center;
			ul{
				margin: 0px ;
				padding: 0px;
				display: inline-block;
				position: relative;
    			right: 35px;
				li{
					text-align: left;
					font-size: 12px;
				    text-transform: uppercase;
				    font-family: HelveticaNeueCyr8;
				    margin: 0px;
				    font-weight: 100;
				    list-style: none;
				    &:before{
				    	content: "•";
				    	font-size: 16px;
				    	position: relative;
    					left: -10px;
    					color: #0083ff;
				    	
				    }
				}
			}
		}
	}
	.my_wrap_teh_top_right{
		nav{
			/*margin-bottom: 55px;*/
			text-align: right;
			ul{
				width: 90%;
				right: 0px;
				li{
					position: relative;
					padding-bottom: 10px;
					&:before{
				    	content: "•";
				    	font-size: 16px;
				    	position: absolute;
    					left: -20px;
    					top: -4px;
    					color: #0083ff;
				    	
				    }

				}
			}
		}
	}
	.my_otst_ot_button{
		padding-top: 65px;
	}
	.my_otst_ot_button_80{
		padding-bottom: 80px;
	}
	.wrapp_next_str{
		width: 70%;
		margin: 0 auto;
		padding: 15px 0px;
		span{
			&:last-child{
				margin-left:17px;
			}
			&:first-child{
				margin-right:17px;
			}
		}
		
	}


/*Конец страницы продукта*/



/*стили дл страницы о нас*/
.page_about{

	.distrintion_page_about{
		font-size: 12px;
		text-transform: uppercase;
		display: inline-block;
		color: #202020;
		width: 81%;
	}
	.wrap_content_text{
		.wrap_title_page{
			.line_contact{
				border-top: 1px solid #4ca3e5;
    			display: inline-block;
    			width: 63%;
			}
		}
		} 
		.wrap_contact_info{
			.wrap_block_contact_info{
				width: 75%;
				.wrap_block_info{
					.wrap_desc_info{
						h3{
							text-align: center;
						}
						p{
							text-transform: uppercase;
							text-align: center;
						}
					}
				}
			}
		}
}



/*Конец стилий для страницы о нас*/









/*Стили для формы обратной связи на странице продуктов*/

.activ_shov_form{
	display: inline-block !important;
	opacity: 1 !important;
	transition: all 2s ease-out 0s !important;
}
.wrapp_section_form{
/*	transition: all 1s ease-out 0s;
	opacity: 0;*/
	display: none;
	width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(240,240,240,.9);
    z-index: 100000;
    .wrapp_form_zakaz{
    	width: 	940px;
    	background-image: url(../img/fons/fon_page_product.jpg);
    	background-repeat: no-repeat;
    	background-position: center center;
    	background-size: cover;
    	position: absolute;
    	z-index: 10000000;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    display: flex;
	    .wrapp_clouz{
	    	position: absolute;
		    right: 0px;
		    padding: 0px 10px;
		    display: inline-block;
		    font-size: 24px;
		    background: #216ba2;
		    color: #fff;
		    top: 0px;
		    cursor: pointer;
	    }
	    .wrapp_blue_bg_text{
	    		font-family: HelveticaNeueCyr15;
	    		font-size: 	25.5px;
	    		color: 	#fff;
	    		text-align: center;
			    flex: 2.52;
			    background-color: rgba(33,107,162,.9);
			    padding-top: 90px;
			    padding-bottom: 15px;
			    .title_text{

			    }
			    .my_line{
					width: 105px;
					margin: 0 auto;
					border-bottom: 1px solid #7aa6c7;
			    }

	    }
	    .wrapp_input_form{
	    	text-align: center;	
	    	font-family: HelveticaNeueCyr8;
		    padding: 180px 20px 20px 20px;
		    flex: 3.5;
		    background-color: rgba(255,255,255,.9);
		    .wrapp_form_produkt{
		    	display: inline-block;
		    	width: 90%;
		    	position: relative;
		    	.wrapp_form_name{
		    		    text-align: right;
    					padding-right: 10px;
    					margin: 12px 0px;
		    		div{
		    			position: absolute;
		    			left: 0px;
		    			top: 12px;
						font-size: 22px;
						font-family: HelveticaNeueCyr15;
		    		}
		    		input{
		    			display: inline-block;
		    			width: 320px;
		    			padding: 5px 7px;
		    			border: 1px solid #ccc;
		    			outline: none;
		    			font-family: HelveticaNeueCyr8;
		    		}
		    		textarea{
		    			margin-top: 12px;
		    			display: inline-block;
		    			width: 320px;
		    			height: 150px;
		    			padding: 5px 7px;
		    			border: 1px solid #ccc;
		    			outline: none;
		    			font-family: HelveticaNeueCyr8;
		    		}
		    	}
		    }
		    .wrapp_form_produkt_btn{
		    	margin-top: 33px;
		    	margin-bottom: 35px;
		    }
	    }
    }
}

@media (max-width: 1000px) {
      .wrapp_form_zakaz{
        width: 90% !important;
        .wrapp_blue_bg_text{
          padding-top:20px !important;
        }
        .wrapp_input_form{
          padding: 20px 20px 20px 20px !important;
        }
        .wrapp_form_produkt_btn{
        	margin: 0px !important;
        }
      }
      .wrapp_section_form{
      	.wrapp_form_zakaz{
      		.wrapp_input_form{
      			 .wrapp_form_produkt{
      			 	.wrapp_form_name{
      			 		text-align: center;	
      			 		display: inline-block;	
      			 		margin: 4px 0px;
      			 		div{
      			 			text-align: left;	
      			 			position: relative;
      			 			top: 0px;
      			 			left: 0px;
      			 		}
      			 		textarea{
      			 			margin-top: 4px;
      			 		}
      			 		} 
      			 	} 
      			}
      		} 
      	} 

    }
    @media (max-width: 1000px) {
    	.wrapp_form_name {
    		display: block !important;
    		input{
    			width: 100% !important;
    		}
    		textarea{
    			width: 100% !important;
    		}
    		
    	}
    }
    @media (max-width: 656px) {
		.wrapp_section_form{
			.wrapp_form_zakaz{
				flex-direction: column;
			}
			} 
    }
    @media (max-width: 740px) {
		.wrapp_form_zakaz{
        width: 90% !important;
        .wrapp_blue_bg_text{
          padding-top:30px ;
        }
        .wrapp_input_form{
          padding: 50px 20px 20px 20px ;
        }
        .wrapp_form_produkt_btn{
        	margin: 0px !important;
        	.wrapp_Send_an_application{
        		    position: relative;
    				bottom: -30px;
        	}
        }
      }
      .wrapp_section_form{
      	.wrapp_form_zakaz{
      		.wrapp_input_form{
      			 .wrapp_form_produkt{
      			 	.wrapp_form_name{
      			 		text-align: center;	
      			 		display: inline-block;	
      			 		margin: 4px 0px;
      			 		div{
      			 			text-align: left;	
      			 			position: relative;
      			 			top: 0px;
      			 			left: 0px;
      			 		}
      			 		textarea{
      			 			margin-top: 4px;
      			 		}
      			 		} 
      			 	} 
      			}
      		} 
      	} 		
    }

/*Конец стилей для формы обратной связи на стронице продукта*/



/*Стили для страницы контакты*/

.my_margin_contact{
	padding-bottom: 66px;
	background-color: #f0f0f0;
}

.wrapp_content_page_contact{
	padding: 36px 0px 85px 0px;
	background-color: #f0f0f0;
}
.bg_fon_fff{
	background-color: #fff;
}
.wrap_content_text{
	padding: 70px 0px 130px 0px;
	.wrap_title_page{
		padding-bottom: 77px;
		text-align: center;
		h1{
		color: #202020;
		text-align: center;
		font-size: 16px;
		text-transform: uppercase;
		font-family: HelveticaNeueCyr8;
    	margin: 0px;
    	padding-bottom: 40px;
		}
		.line_contact{
			border-top: 1px solid #d8edc6;
			display: inline-block;
			width: 53%;
		}
	}
}

.wrap_contact_info{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	.wrap_block_contact_info{
		width: 	60%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.wrap_block_info{
			text-align: center;
			/*width: 25%;*/
			text-align: center;	
			&:first-child{
				text-align: left;
			}
			.wrap_image_info{
				margin-bottom: 17px;
				div{
					display: inline-block;
					width: 75px;
					height: 75px;
					border-radius: 50%;
					border: 1px solid #d5fcff; 
				img{
					padding: 16px;
				}
				
			}
			&:first-child{
				text-align: center;
			}
			}
			.wrap_desc_info{
				display: inline-block;
    			text-align: left;
				h3{
					margin: 0px;
					font-size: 	14px;
					color: 	#202020;
					font-family: HelveticaNeueCyr8;
					padding-bottom: 9px;
					text-align: center;
				}
				p{
					font-size: 	12px;
					font-family: HelveticaNeueCyr1;
					color: #0d0d0d;

				}
			}
		}
	}
}


/*Конец стилей для страницы контакты*/


/*Footer*/
footer{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: $bgfooter;
	.wrapp-logo-bottom{
		position: relative;
		color: #fff;
		font-size: 18px;
		text-transform: uppercase;
		img{
			padding-right: 20px;
		}
		span{
			position: absolute;
			top: 8px;
			font-family: HelveticaNeueCyr8;
		}
	}
	.wrapp-perent-legal-info{
		text-align: left;
		.wrapp-legal-info{
			margin: 0 auto;
			width: 75%;
			p{
				font-family: HelveticaNeueCyr8;
				margin-bottom: 15px;
				a{
					text-decoration: none;
			    	outline: none;
			    	color: #fff;
			    	font-size: 14px;
			    	font-family: HelveticaNeueCyr8;
				}
			}
		}
	}
	.wrapp-legal-adres{
		.title-legal-adres{
			padding-bottom: 15px;
		}
		.text-legal-adres{

		}
	}
	.wrapp-bottom-menu{
		text-align: center;
		nav{
			display: inline-block;
			padding-top:30px;
			ul{
				display: inline-block;
				padding: 0px;
				margin: 0px;
				text-align: center;
				li{
					display: inline-block;
					a{
					margin: 0px 20px;
					color: $colorBottommenu;
					font-size: 14px;
					text-transform: uppercase;
					font-family: HelveticaNeueCyr8;
					text-decoration: none;
			    	outline: none;
					}
				}
			}
		}
	}
}

.footer-wrapp-batton{
	.button_zakaz{
		transition: .5s;
		color:  $footer_button_zakaz;
		font-family: HelveticaNeueCyr8;
		font-size: 14px !important;
		&:hover{
			transition: .5s;
			color: $button_zakaz;
		}
	}
}
/*END Footer*/



/*Стили для страницы сделать заказ*/

.wrapp_block_order{
	padding: 70px 0px 90px 0px;
	.wrap_block_name_page{
		text-align: center;
		margin-bottom: 	60px;
		h1{
			color: #202020;
		    text-align: center;
		    font-size: 16px;
		    text-transform: uppercase;
		    font-family: HelveticaNeueCyr8;
		    margin: 0px;
		    padding-bottom: 30px;
		}
		.line_page{
			border-top: 1px solid #4ca3e5;
    		display: inline-block;
    		width: 63%;
		}
	}
	.wrpa_3_block_flex{
		display: flex;
		justify-content: space-around;
		    flex-wrap: wrap;
		.wrap_section_block{
			border: 1px solid #4ca3e5;
			border-radius: 30px;
			width: 27%;
			overflow: hidden;
			a{
				display: inline-block;
				padding: 55px 0px 6px 0px;
				width: 100%;
				text-align: center;
				text-decoration: none;
				height: 100%;
				    transition: .5s;
				&:hover{
					background-color:#023459;
					    transition: .5s;
				}
				&:hover{
					h3{
						color: #fff;
						transition: .5s;
					}
				}
				img{
					max-width: 100%;
					margin-bottom: 30px;
				}
				h3{
					margin: 0px;
					font-family: HelveticaNeueCyr8;
					color: #202020;
					font-size: 16px;
    				text-transform: uppercase;
				}
			}
		}
	}
	.phone_center{
		text-align: center;
		margin-top: 109px;
		a{
			margin: 0px;
			font-family: HelveticaNeueCyr8;
			color: #202020;
			font-size: 18px;
    		text-transform: uppercase;
    		text-decoration: none;
		}
	}
}
.my_padding_top_40{
	padding-top: 40px;
}

/*конец*/

/*стили для страницы обратной связи*/
.wrapp_content_page_contact_2{
	padding: 45px 0px;
    background-color: #f0f0f0;
}

.none_padding{
	padding: 0px !important;
}

.warpp_section_form{
	padding: 0px 60px;
	display: flex;
	flex-wrap: wrap;
	.wrap_block_page_form{
		width: 50%;
		p{
			font-size: 14px;
			padding: 0px 10px 0px 24px;
			margin-bottom: 87px;
		}
		.wrap_img_page_form{
			img{
				max-width: 100%;
			}
		}
	}
}
.text_center{
	text-align: center;

}
.width_100{
	width: 100%;
	margin-top: 56px;
}
.wrapp_form{
	display: inline-block;
	.wrap_form_title{
		display: flex;
    	flex-wrap: wrap;
    	margin-bottom: 18px;
		.wrap_text_form{
			display: inline-block;
			flex: 1;
			text-align: left;
			margin-right: 8px;
			font-size: 18px;
		    color: #3f3f3f;
		    position: relative;
    		top: -3px;
		}
		.wrap_input_form{
			display: inline-block;
			flex: 2;
			input{
				width: 260px;
				border: 1px solid #cccccc;
					outline: none;
					padding: 5px 10px;
				
			}
			textarea{
				width: 260px;
				height: 120px;
				border: 1px solid #cccccc;
				outline: none;
				padding: 5px 10px;
			}
		}
	}
		
}
/*.wrapp_form{
	text-align: center;
	.wrap_form_title{
		text-align: right;
		position: relative;
		margin-bottom: 18px;
		display: block;
		.wrap_text_form{
			display: inline-block;
			span{
			display: inline-block;
			position: absolute;
		    left: 0px;
		    top: 0px;
		    font-size: 18px;
		    font-family: HelveticaNeueCyr15;
			}
		}
		.wrap_input_form{
			display: inline-block;
			input{
				width: 260px;
			}
			textarea{
				width: 260px;
				height: 120px;
			}
		}
			
	}
	

}*/
/*конец*/